<headernav class="hidden-xs" style=""></headernav>
<div ng-class="{ 'stepper' : settings.desktop || settings.tablet }">
  <div ng-class="settings.mobile ? 'container-fluid' : 'container' ">
    <div class="row" ng-style="bannerStyle">
      <div class="col-md-12">
        <div banner></div>
      </div>
    </div>
    <div class="row container">
      <div class="col-md-6" ng-show="bcCtrl.beneficiosVisible">
        <div beneficios></div>
      </div>
      <div class="col-md-6" ng-show="bcCtrl.condicionesVisible">
        <div condiciones></div>
      </div>
    </div>
  </div>
</div>
