<div headernav class="hidden-xs" style=""></div>
<div ng-class="{ 'stepper' : settings.desktop || settings.tablet }">
  <div ng-class="settings.mobile ? 'container-fluid' : 'container' ">
    <!-- <div class="row">
      <div stepsbar></div>
    </div> -->
    <div class="row" ng-show="cuentaCtrl.showContrato">
      <div class="col-md-12 col-xs-12">
        <div contrato></div>
      </div>
    </div>
    <div class="row" ng-show="cuentaCtrl.showResumen">
      <div class="col-md-12 col-xs-12">
        <div resumen></div>
      </div>
    </div>
  </div>
</div>
