<div class="container-fluid">
  <div class="landing">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <header class="landing-head">
            <img ng-src="{{landing.logoImage}}" />
          </header>
          <div class="landing-body text-center" style="padding:0 50px;">
            <img alt="" ng-src="images/icons/{{landing.btnMercado}}" ng-class=" landing.mercadoBloqueado ? 'flujo-bloqueado' : 'flujo-habilitado'" ng-click="landing.mercadoFlux()" />
            <img alt="" ng-src="images/icons/{{landing.btnNomina}}" ng-class=" landing.nominaBloqueado ? 'flujo-bloqueado' : 'flujo-habilitado'" ng-click="landing.nominaFlux()" />
            <img alt="" ng-src="images/icons/{{landing.btnUniversidad}}" ng-class=" landing.universidadesBloqueado ? 'flujo-bloqueado' : 'flujo-habilitado'" ng-click="landing.universidadesFlux()" />
          </div>
        </div>
      </div>
  </div>
</div>
