<div headernav class="hidden-xs" style=""></div>
<div ng-class="{ 'stepper' : settings.desktop || settings.tablet }" style="height:100%;">
  <div ng-if="settings.desktop || settings.tablet" class="container-fluid" style="position: absolute; top: 51px; left: 0px; right: 0px;">
    <div class="row newBar" style="height: 69px;">
        <div class="col-md-12">
            <div class="stepbar"></div>
        </div>
    </div>
    <div class="meter animate" style="margin-top:0px;">
        <span style="width: 50%"><span></span></span>
    </div>
  </div>
  <div ng-class="settings.mobile ? 'container-fluid' : 'container' ">
    <div class="row newBar">
      <div stepsbar></div>
    </div>
    <div class="row" style="height:100%;">
      <div class="col-md-12">
        <div cardinfo></div>
      </div>
    </div>
  </div>
</div>
