    <div id="bloque_beneficios" class="beneficios row">
      <div class="col-md-12">
        <header>
          <h4>
            {{beneficiosCtrl.beneficiosTitle}}
          </h4>
        </header>
        <section>
          <p>{{beneficiosCtrl.beneficios}}</p>
          <ul>
            <li ng-repeat="beneficio in beneficiosCtrl.beneficiosList">
              <span>{{beneficio}}</span>
            </li>
          </ul>
        </section>
        <hr>
        <div class="exceptions" ng-repeat="exception in beneficiosCtrl.exceptions">
            <img ng-if="exception.img" ng-src="{{exception.img}}" alt="{{exception.desc}}" style="width:57px; height:35px; margin-top:10px; margin-right:10px; margin-bottom:0;">
            <p style="padding-top:5px; text-align:justify;">{{exception.desc}}<p>
        </div>
      </div>

      <div ng-if="settings.mobile" class="col-xs-10 col-xs-offset-1">
        <button class="btn btn-primary btn-block" ng-click="beneficiosCtrl.showCondiciones()">Continuar</button>
      </div>
    </div>
