<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h2 class="title-page">{{tarjetaCtrl.title}}</h2>
      </header>
      <p>{{tarjetaCtrl.subtitle}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-xs-10 col-xs-offset-1">
      <section class="pregunta-newcard" ng-hide="cardinfo.esUniversidades || cardinfo.esNomina ">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
              <img src="images/data/tarjeta_front.png" style="width:100%;" />
              <div class="data">
                <p class="card-number">{{tarjetaCtrl.pan}}</p>
                <p class="card-expiration">{{tarjetaCtrl.fechaCaducidadTarjeta}}</p>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
            <button id="BTN_CrearTarjeta" class="btn btn-primary no-block" ng-disabled="" ng-click="tarjetaCtrl.next()">Continuar</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
