<div id="spinner" class="spinner text-center">
    <div class="sk-circle">
      <img id="IMG_loader_santander" src="images/icons/loader_santander.gif">
      <br>
      <b style="width:100%;" class="text-center">Espere por favor</b>
    </div>
</div>
