<section class="password-form">
  <h2 class="title-page">
    Contraseña de acceso
    <img src="images/icons/icono-alerta.svg" tooltip-placement="top" uib-tooltip="{{passwordchange.tooltip}}" type="button" class="icon">
  </h2>
  <hr class="red"/>
  <span ng-bind-html="passwordchange.renderHtml(instructions)"></span>
  <div rules ></div>


  <form name="passwordForm" novalidate="">

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : passwordForm.pass.$invalid && !passwordForm.pass.$pristine && passwordForm.pass.$touched }">
         <p>Contraseña de acceso</p>
         <div class="input-group" >
           <input id="pass" name="pass" ng-attr-type="{{passwordchange.showpassword ? 'text' : 'password'}}" complex-password ng-model="passwordchange.pass" ng-change="passwordchange.savePassword()" required class="form-control" ng-maxlength="8" ng-minlength="8" maxlength="8" minlength="8" ng-trim="false">
           <span class="input-group-addon">
             <input id="thing" ng-model="passwordchange.showpassword" ng-checked="false" type="checkbox">
             <label for="thing"><span style="color:#b3b3b3;">{{ passwordchange.remainingChars(passwordForm.pass.$viewValue.length) }}&nbsp; | </span><i class="fa fa-eye" aria-hidden="true"></i></label>
           </span>
         </div>
       </div>
       <span class="help-block" ng-messages="passwordForm.pass.$error" ng-if="passwordForm.pass.$touched">
         <p ng-message="required">Campo obligatorio</p>
         <p ng-message="minlength">La contraseña es muy corta.</p>
         <p ng-message="maxlength">La contraseña es muy larga.</p>
         <p ng-message="complexity">No cumples con las reglas de arriba.</p>
       </span>
       <p ng-show="passwordchange.level0">Contraseña inválida<br/><img style="width:100%;" alt="" src="images/icons/semaforo-rojo.png"></p>
       <p ng-show="passwordchange.level1">Contraseña débil<br/><img style="width:100%;" alt="" src="images/icons/semaforo-amarillo.png"></p>
       <p ng-show="passwordchange.level2">Contraseña fuerte<br/><img style="width:100%;" alt="" src="images/icons/semaforo-segura.png"></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : passwordForm.repass.$invalid && !passwordForm.repass.$pristine && passwordForm.repass.$touched }">
          <p>Confirmar contraseña de acceso</p>
          <div  class="input-group">
            <input id="re-pass" no-special-char ng-maxlength="8" ng-minlength="8" maxlength="8" minlength="8" name="repass" ng-model="passwordchange.repass" match="passwordchange.pass" passwordCheck="passwordchange.pass" required class="form-control" ng-attr-type="{{passwordchange.showrepass ? 'text' : 'password'}}">
            <span class="input-group-addon">
              <input aria-invalid="false" class="ng-pristine ng-untouched ng-valid ng-empty" id="thong" ng-model="passwordchange.showrepass" ng-checked="false" type="checkbox">
              <label for="thong"><span style="color:#b3b3b3;">{{ passwordchange.remainingChars(passwordForm.repass.$viewValue.length) }}&nbsp; | </span><i class="fa fa-eye" aria-hidden="true"></i></label>
            </span>
          </div>
        </div>
        <div class="help-block" ng-messages="passwordForm.repass.$error" ng-if="passForm.repass.$touched">
          <p ng-message="required">Campo obligatorio</p>
          <p ng-message="passwordMatch">El password no coincide.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1" style="margin-bottom:60px;">
        <button id="BTN_PassSiguiente" ng-click="passwordchange.next('sendPassword')" ng-disabled="passwordForm.$invalid" class="btn btn-primary no-block">Continuar</button>
      </div>
    </div>

  </form>
</section>
