
  <ul class="rules">
    <li id="rule{{$index}}" ng-repeat="rule in rules.list track by $index" ng-class="{{rules.classes.check}}">
      <img ng-show="rule.valid" src="images/icons/icono-check.png" class="bullet" > <img ng-show="rule.invalid" src="images/icons/icono-wrong.png" class="bullet" > <i ng-show="rule.idle" class="fa fa-circle" aria-hidden="true" style="font-size: 6px; color:red;"></i> {{rule.text}}
    </li>
  </ul>
