.branchlocatorsearch input {
  outline: none;
  position: relative;
  left:5px;
  top:5px;
  &:-moz-placeholder,
  &::-webkit-input-placeholder {
    color: #999;
  }

  &[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: #ededed url("../img/icons/magnifying_glass.png") no-repeat 97% center;
    border: solid 1px #ccc;
    padding: 9px 32px 9px 10px;
    width: 250px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    @media screen and(min-width: $tablet-width){
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }
    @media screen and (max-width: $mobile-width){
      width: -webkit-calc(88% - 22px);
      width: -moz-calc(88% - 22px);
      width: calc(88% - 22px);
    }

    &:focus {
      width: -webkit-calc(96% - 20px);
      width: -moz-calc(96% - 20px);
      width: calc(96% - 20px);
      background-color: #fff;
      border-color: #ebebeb;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
      box-shadow: 0 0 5px rgba(0,0,0,.5);
      @media screen and (max-width: $mobile-width){
        width: -webkit-calc(88% - 22px);
        width: -moz-calc(88% - 22px);
        width: calc(88% - 22px);
      }
    }
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    display: none;
  }
}

.itemplace{
  width: calc(96% - 20px);
  background: #fff;
  margin: 0 5px 0 5px;
  padding: 10px 15px 10px 10px;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  &:hover {
    background: #e1e1e1;
  }
}
