.btns{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 290px;
  &:focus, &:active:focus{
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover, &:focus{
    color: #333;
    text-decoration: none;
  }
  &:active{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.default{
    background-color: $red-color;
    font-size: 0.7em;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: $second-red-color;
    color: #e7e7e7;
    font-weight: bold;
    width:100%;
    &:hover{
        background: $second-red-color;
        border-color: $second-red-color;
    }
    &:focus{
        background:$second-red-color;
        border-color: $second-red-color;
    }
    &:active {
        background:$second-red-color;
        border-color: $second-red-color;
        &:hover{
            background:$second-red-color;
            border-color: $second-red-color;
        }
    }
    &[disabled]{
        background-color: $light-grey-color;
        border-color: $light-grey-color;
        &:hover{
            background-color: $light-grey-color;
            border-color: $light-grey-color;
        }
        &:focus{
            background-color: $light-grey-color;
            border-color: $light-grey-color;
        }
    }
  }
  &.selection{
    background-color: #ffffff;
    font-size: 1em;
    padding: 15px 20px;
    width:100%;
    border:0.3px solid #e5e5e5;
    margin:0;
    max-width: 100%;
    border-radius: 0;
    &.left{
      color: #b1b4b3;
    }
    &.right{
      color: #ec0000;
    }
  }
}
