.carrusel-container{
  font-family: $landing-kievit-regular, sans-serif;
  width:100%;
  height: 100%;
  .back-button{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    padding: 20px;
  }
  .items{
    position:absolute;
    width:100%;
    .mySlides{
      display: none;
    }
    h3{
      text-align: center;
      width: auto;
      position: absolute;
      font-size: 2em;
      padding: 0 30px 0 30px;
      margin: 0;
      top: 30%;
      color: white;
      text-shadow: 1px 2px 3px black;
      img{
        width:40%;
        padding-bottom:40px; 
      }
    }
    img{
      width: 100%;
    }
  }
  .badges{
    position: absolute;
    width:100%;
    text-align: center;
    z-index: 10;
    bottom:60px;
    .badge{
      background-color:#000;
      color:#fff;
      display:inline-block;
      padding-left:8px;
      padding-right:8px;
      text-align:center;
      border-radius:50%;
      height:8px;
      width:8px;
      padding:0;
      margin:2px;
    }
    .badge-border{
      border:1px solid #ccc!important;
    }
    .badge-transparent{
      background-color:transparent!important;
    }
    .badge-white{
      color:#000!important;
      background-color:#fff!important
    }
    .badge-hover-white{
      &:hover{
        color:#000!important;
        background-color:#fff!important
      }
    }
  }
  .controlls{
    position: absolute;
    z-index: 10;
    width:100%;
    bottom:50px;
    .omitir-card,
    .next-card {
      position: absolute;
      border:1px solid #eee;
      text-align: center;
      width:49.5%;
      padding:15px 0 15px 0;
      display:block;
      cursor:pointer;
      color:white;
    }
    .next-card{
      right:0;
    }
  }
}



.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
