.bottom-card-rail{
  position: fixed;
  display:block;
  bottom:50px;
  right:15px;
  left:15px;
  #CARD_branch{
    display: block;
    margin:auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    &.panel{
      max-width: 300px;
      display: block;
      padding: 0;
      border-radius: 5.61px;
      &.panel-default{
        background: #fcfcfc;

      }
      .panel-header{
        padding: 10px 10px 5px 10px;
        border-bottom: 1px solid #e5e5e5;
        img{
          width: 20px;
          height:auto;
          vertical-align: middle;
        }
        .title{
          margin-left: 3px;
          display: inline-block;
        }
      }
      .panel-body{
        padding: 10px;
        display: flex;
        flex-direction: row;
        .address_info{
          order:1;
          .street{
            color: #454545;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.6;
          }

        }
        .distance_info{
          order:2;
          flex-grow:2;
          img{
            display: block;
            width:50px;
            margin:auto;
          }
          .distance{
            display: block;
            text-align: center;
          }
        }
        .small{
          font-size: 0.8em;
        }
      }
      .panel-footer{
        padding: 10px;
      }
    }

  }
}
