.document-block{
  text-align: center;
  cursor: pointer;
  .image-document{
    display: block;
    border: 1px solid #979797;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    background-color: #d8d8d8;
    background-image: url("../img/icons/btn_foto.svg");
    background-repeat: no-repeat;
    background-size:40%;
    background-position: center;
    @media screen and (min-width: $mobile-width) {
      height: 200px;
      background-size: 30%;
    }
    img{
      width:100%;
    }
  }
  .document-icon{

  }
  .document-text{
    color: #ec0000;
    text-decoration: underline;
  }

}


.continue{
  text-align: center;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
}
