[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    -webkit-box-sizing: unset;
    box-sizing: unset;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  box-shadow: 1.5px 1.5px 9px #333;
  -webkit-box-sizing: unset;
  box-sizing: unset;
}
[type="radio"]:checked + label:after
 {
    content: '';
    width: 8px;
    height: 8px;
    background: #ec0000;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-sizing: unset;
    box-sizing: unset;

}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.seleccion-documento{
  width:100%;
  text-align: center;
}

.floating-radio{
  display: inline-block;
  margin:30px;
}
