@mixin not-last-child($selector) {
    & #{$selector}:not(:last-child) {
      @content;
    }
}

.fablocationbutton {
  position:absolute;
  right:10px;
  bottom:10px;

  .buttons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
                0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 56px;
    height: 56px;
    margin: 20px auto 0;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 0 4px rgba(0,0,0,.14),
        0 4px 8px rgba(0,0,0,.28);
    }
    &:nth-last-child(1){
      -webkit-transition-delay: 25ms;
      transition-delay: 25ms;
      background: #fff url('../img/icons/location.png') center no-repeat;
      background-size: 115%;
    }
  }
  @include not-last-child('buttons'){
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
  }
  &:hover{
    @include not-last-child('buttons'){
      opacity: 1;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      margin: 15px auto 0;
    }
  }
  [tooltip]{
      &:before {
        bottom: 25%;
        font-family: arial;
        font-weight: 600;
        border-radius: 2px;
        background: #585858;
        color: #fff;
        content: attr(tooltip);
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        padding: 5px 7px;
        margin-right: 12px;
        position: absolute;
        right: 100%;
        white-space: nowrap;
      }
      &:hover:before,
      &:hover:after{
        visibility: visible;
        opacity: 1;
      }
  }
}

/* Unessential styling for sliding up buttons at differnt speeds */

// .buttons:nth-last-child(1) {
//   -webkit-transition-delay: 25ms;
//           transition-delay: 25ms;
//   background-image: url('https://cbwconline.com/IMG/Share.svg');
//   background-size: contain;
// }
//
// .buttons:not(:last-child):nth-last-child(2) {
//   -webkit-transition-delay: 50ms;
//           transition-delay: 20ms;
//   background-image: url('https://cbwconline.com/IMG/Facebook-Flat.png');
//   background-size: contain;
// }
//
// .buttons:not(:last-child):nth-last-child(3) {
//   -webkit-transition-delay: 75ms;
//           transition-delay: 40ms;
//   background-image: url('https://cbwconline.com/IMG/Twitter-Flat.png');
//   background-size: contain;
// }
//
// .buttons:not(:last-child):nth-last-child(4) {
//   -webkit-transition-delay: 100ms;
//           transition-delay: 60ms;
//   background-image: url('https://cbwconline.com/IMG/Google%20Plus.svg');
//   background-size: contain;
// }
