.modal-ocr{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  background: white;
  z-index: 100;
  .ocr-capture{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    //transform: translate(-50%, -50%);
    video#videoInput{
      width:100%;
      height: 100%;
    }
  }
}

.help-modal{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background: white;
  z-index: 105;
  .instructions-message{
    .instructions-close{
      position: fixed;
      top:3%;
      left:3%;
      color: #ec0000;
      img{
        padding-right: 5px;
      }
    }
    .instructions-image{
      position: fixed;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .rotate-message{
    .instructions-close{
      position: fixed;
      top:7%;
      right:-5%;
      color: #ec0000;
      transform: rotate(90deg);
      z-index:2;
      img{
        padding-right: 5px;
      }
    }
    .instructions-image{
      position: fixed;
      transform: rotate(90deg) translateX(-40%) translateY(90%);
      top:60%;
      left: 50%;
      z-index:1;
    }
  }


}

.modal-captured-image{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background: black;
  z-index: 100;
  height: 100%;
  .modal-help{
    position: fixed;
    top:10px;
    right: 10px;


  }
  .captured-image{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-60%);
    width:100%;
    padding: 30px;
    text-align: center;
    img, canvas{
      max-width: 100%;
      border-radius: 10px;
      @media screen and (min-width: $mobile-width){
        max-width: 70%;
        padding:0;
      }
    }


  }
  .modal-buttons{
    display: flex;
    position: absolute;
    width:100%;
    bottom: 0;
  }
}
