.modal-icon img{
  width: 50px;
}
.error_code {
  color: #777;
  position: relative;
  text-align: right;
}
.modal{
  display:block;
  //font-family: $font-light;
  font-weight: bold;
  color: #EC0000;
  padding: 20px;
  &.vertical.top.in{
    .modal-content{
      box-shadow: none;
    }
  }
  &.horizontal.left.in{
         .modal-content{
      background: #fff;
    }
  }


  .modal-content{
    background-color: transparent;
    padding: 30px 15px;
    box-shadow: none;
    border:none;
    h2{
      small{
        color:#333;
      }
    }

    .icon-fail{
      img{
        width: 80px;
        height: auto;
      }
    }
    .modal-exito{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 400px;
        margin: auto;
        .modal-header{
          color:#999;
          background-color: #fff;
          border-radius: 10px 10px 0 0 ;
          img{
            width:100%;
            margin-top:7px;
          }
        }
       .modal-body{
        background-color: #fff;
        //border-radius: 10px 10px 0 0 ;
        width: 100%;
        max-height: 400px;
        h2{
          color:#333;
          font-weight: bold;
          line-height: 1em;
        }
        p{
          font-weight: normal;
          color:#999;
          white-space: pre-wrap;
          font-size: 0.9em;
          text-align: justify;
          &.message{
            font-weight: normal;
            color:#999;
            white-space: pre-wrap;
            font-size: 1.2em;
            text-align: center;
          }
        }
      }
      .modal-footer {
        font-family: $font-light;
        font-size: 22px;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        padding: 0;
        button{
          padding: 15px;
        }
        .error-btn{
          margin:0 !important;
          border-radius: 0 0 10px 10px;
          font-size: 22px;
        }
      }
      .alert-footer{
        padding: 0;
        .alertbuttonright,
        .alertbuttonleft,
        .full-width{
          margin:0;
          font-size: 22px;
        }
        .alertbuttonright{
          max-width:50%;
          border-radius: 0 0 10px 0;
          color:$red-color;
        }
        .alertbuttonleft{
          max-width:50%;
          border-radius: 0 0 0 10px;
        }
        .full-width{
          max-width: 100%;
          border-radius: 0 0 10px 10px;
          color:$red-color;
        }
      }

    }
    .modal-messages-actions{
      .modal-body{
        background-color: #fff;
        border-radius: 0 0 20px 20px;
        margin-bottom: 14px;
      }
      .modal-header {
        background-color: #fff;
        border-radius: 20px 20px 0 0;
      }
      .modal-footer {
        font-family: $font-light-bold;
        font-size: 16px;
        background-color: #fff;
        border-radius: 50px;
      }


    }
  }
}
