@import "bootstrap.scss";
@import "fonts.scss";
@import "font-awesome.scss";
@import "angular-material.scss";



$mobile-width: '414px';
$tablet-width: '1024px';
$desktop-width: '1366px';




$font-light: 'Open Sans Light', sans-serif;
$font-light-regular: 'Open Sans', sans-serif;
$font-light-bold: 'Open Sans Bold', sans-serif;
$font-light-extra-bold: 'Open Sans Extra Bold', sans-serif;

$landing-kievit-regular: "KievitOT Regular";
$landing-kievit-bold: "KievitOT Bold";
$landing-kievit-light: "KievitOT Light";
$card-font: "Kredit";


$primary-text-color: #333;
$secondary-text-color: #5B5A5B;
$link-text-color: #9E3667;
$positive-text-color: #fff;

$red-color: #ec0000;
$second-red-color: #d20000;
$light-grey-color: #bbb;
$lighter-grey-color: #f1f1f1;
$white-alpha-color: rgba(255,255,255,1);

//Heading Size
$paragraph-s: 11.5px; //11px
$heading-s: 12px; //0.750em; //12px
$heading-m: 14px; //0.875em; //14px
$heading-l: 16px; //1em; //16px
$heading-xl: 18px;//1.125em; //18px
$heading-xxl: 17px;
$heading-xxxl: 20px; //1.5em; //24px

.flujo-bloqueado { opacity:0.5; }
.flujo-habilitado { cursor: pointer; }


.bold{ font-weight: bold; }
.red{ color: $red-color; }
.fit-lateral { padding: 0 2em; }
.fit-up { padding-top: 2em; }
.fit-down { padding-bottom: 2em; }
.contrato {
  //margin: 2em;
  background-color: #fff;
  //line-height:2;
  white-space: pre-wrap;
}


* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

/* cover */
div.cover {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
img.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}

.no-margin{
  margin:0 !important;
}

#map{
  position:relative;
  z-index: 100;
}

.help-block{
  color:#a94442;
}

.stepper{
  margin-top: 50px;
}

.container-fluid{
  padding: 0 !important;
}

.title-page{
  font-size: $heading-xxxl;
  color: #444;
}

input:disabled+label{color:#ccc;}

landing, calificar{
  position: relative;
  min-height: 100%;
}

@import '_carrusel.scss';
@import '_switch.scss';



.calificar{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  display:block;
  margin:0;
  padding:0;
  width:100%;
  background: url(../images/icons/startBackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .calificar-head{
    margin-top: 60px;
  }
  .calificar-question{
    font-size: $heading-xxxl;
    margin-top:30px;
  }
}

.landing {
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  display:block;
  margin:0;
  padding:0;
  width:100%;
  overflow-y: scroll;
  //background: url("https://unsplash.it/1300/550?random") center center fixed;
  background: url(../images/icons/startBackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .landing-head{
    padding: 7% 2.5%;
    text-align: center;
    img{
      width:71.91%;
    }
  }
  .landing-body{
    margin: 0 0;
    img{
      width:70%;
      margin:auto;
    }
    .landing-msg{
      color: $positive-text-color;
      text-align: center;
      .kievitReg{
        font-family: $landing-kievit-regular;
        font-size: 18px;
        line-height: 17px;
      }

      .kievitLight{
        font-family: $landing-kievit-light;
        font-size: 14px;
        line-height: 13px;
      }

      .kievitBold{
        font-family: $landing-kievit-bold;
        font-size:19.5px;
        line-height:18.5px;
      }
    }
    button{
      width:70%;
      font-size:12px;
      border-radius: 100px;
      margin: 2% auto;
    }
    button#BTN_supercuentauniversitarios{
      margin-top: 10%;
    }
  }
  .landing-footer{
    position:fixed;
    bottom:0;
    left:15%;
    right:10%;
    width:100%;
    z-index: -10;
    img{
      width:70%;
    }
  }
}


.background-red{
  background-color: $red-color;
}

.red{
  border-color: $red-color;
}

.navbar{
  background-color: $secondary-text-color !important;
  .navbar-brand{
    width:100%;
    header{
      width:40%;
      font:$font-light;
      color:$positive-text-color;
    }
    .lock-message{
        position: absolute;
        top:15px;
        right:10%;
        font-size: $heading-s;
        color:$positive-text-color;
    }
    img {
      width: 75%;
    }
  }
}

.banner{
  /*margin-top: 30px;*/
  display: block;
  width:100%;
  min-height: 250px;
  background: url("../images/data/banner.jpeg") center center;
  background-size:cover;
  span{
    display:block;
    color: $positive-text-color;
    width:35%;
    min-height:250px;
    border-radius: 5px;
    padding:30px;
    background: rgba(0,0,0,0.7);
    .call-to-action-text{
      font-size: $heading-xxl;
    }
  }
}

.btn-primary{
    background-color: $red-color;
    padding: 10px 0;
    border-radius: 25px;
    border-color: $second-red-color;
    font-weight: bold;
    &:hover{
        background: $second-red-color;
        border-color: $second-red-color;
    }
    &:focus{
        background:$second-red-color;
        border-color: $second-red-color;
    }
    &:active {
        background:$second-red-color;
        border-color: $second-red-color;
        &:hover{
            background:$second-red-color;
            border-color: $second-red-color;
        }
    }
    &[disabled]{
        background-color: $light-grey-color;
        border-color: $light-grey-color;
        &:hover{
            background-color: $light-grey-color;
            border-color: $light-grey-color;
        }
        &:focus{
            background-color: $light-grey-color;
            border-color: $light-grey-color;
        }
    }
}

.btn-secondary{
  background-color: $white-alpha-color;
  color: $red-color;
  padding: 10px 0;
  border-radius: 25px;
  border-color: $white-alpha-color;
  font-weight: bold;
  &:hover{
      background: $white-alpha-color;
      border-color: $white-alpha-color;
  }
  &:focus{
      background:$white-alpha-color;
      border-color: $white-alpha-color;
  }
  &:active {
      background:$white-alpha-color;
      border-color: $white-alpha-color;
      &:hover{
          background:$white-alpha-color;
          border-color: $white-alpha-color;
      }
  }
  &[disabled]{
      background-color: $light-grey-color;
      border-color: $light-grey-color;
      &:hover{
          background-color: $light-grey-color;
          border-color: $light-grey-color;
      }
      &:focus{
          background-color: $light-grey-color;
          border-color: $light-grey-color;
      }
  }
}

.no-block{
  display: block;
  margin-top:2em;
  padding: 1em;
  width: 100%;
}

.block-inputs{
  position:static;
  display:block;
  min-width:100%;
  min-height:100%;
  z-index: 100;
  background-color: grey;
}


.beneficios{
  //border-right: 3px solid $light-grey-color;
}

.beneficios, .condiciones{
  display: block;
  padding:3%;
  white-space: nowrap
  p{
    font-size: $heading-xl;
  }
  ul {
    padding-right: 1em;
    li {
      color:$red-color;
      font-size: $heading-m;
      font-weight:normal;
      margin-bottom: 1.5em;
      span{
        color:$primary-text-color;
      }
    }
  }
}

.keyboard{
  margin:15px 35px;
  .nip-btn{
    margin:5px 0;
  }
}

.nip-block{
  width: 100%;
  height: 42px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &[disabled]{
    background-color: #eeeeee;
    opacity: 1;
  }
  i{
    letter-spacing: 0.25em;
    margin-top: 12px;
    /*padding-top: 12px;*/
    vertical-align: middle;
    color: #555;
  }
}

.nip-validation{
  width: 100%;
  height: 30px;
  display: block;
  margin-top: 7px;
  /*border: 1px solid #333;*/
  i{
    padding-top: 5px;
    vertical-align: middle;
    font-weight: bolder;
    &.fa-check{
      color: green;
    }
    &.fa-remove{
      color: $red-color;

    }
  }
}

.exceptions{
  display:flex;
  flex-direction: row;
  font-size: $paragraph-s;
}

.image-viewer{
  width:100%;
  margin-top: 30px;

  background-color: #fff;
  .tool-bar{
    width:100%;
    min-height: 10px;
    padding:0 5%;
  }
  .viewer{
    height: 100%;
    width:100%;
    max-height:600px;
    text-align: center;
    overflow: scroll;
    div{
      //overflow-y: scroll;
      img{
        width: 70%;
        height: 100%;
        margin-bottom: 1em;
      }
    }

  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.stepbar{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  .image-step-box{
    text-align: center;
    max-width: 20%;
    max-height: 50px;
    img{
      /*height:100%*/
      width: 40% !important;
    }
    .flecha{
      width: 7% !important;
    }
    // &:after{
    //   content: '\f054';
    //   font-family: FontAwesome;
    //   color:#e5e5e5;
    //   font-weight: normal;
    //   font-style: normal;
    //   margin:0px 0px 0px 10px;
    //   text-decoration:none;
    // }
    // &:last-child:after{
    //   content: '';
    // }
  }
  .image-step-box:last-child{
    .flecha{
      visibility: hidden;
    }
  }

}

.data{
  position: absolute;
  font-family: 'Kredit';
  top: 195px;
  left: 100px;
  .card-number{
    margin-left: 0;
    margin-bottom: 0;
    font-size: 2em;
  }
  .card-expiration{
    margin-left: 140px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width:375px){
  .stepbar{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    .image-step-box{
      text-align: center;
      max-height:70px;
      justify-content: space-between;
      img{
        flex-grow: 1;
        width: 70% !important;
        /*height:100%;*/
      }
      .step-item{
        margin-top: 0%;
      }
      .flecha{
        width: 7% !important;
      }
    }
  }
}

@media only screen and (min-width:1024px){
  .stepbar{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    .image-step-box{
      text-align: center;
      max-height:70px;
      justify-content: space-between;
      img{
        flex-grow: 1;
        width: 40% !important;
        /*height:100%;*/
      }
      .step-item{
        margin-top: 8%;
      }
      .flecha{
        width: 7% !important;
      }
    }
  }
}



.meter{
  height: 4px;
  position: relative;
  background: $light-grey-color;
  border-radius:10px;
  span{
    display: block;
    height:100%;
    background-color: #abc111;
    position: relative;
    overflow: hidden;
    border-radius:10px;
  }
}

@media only screen and (min-width: 1024px){
  .meter{
    margin-top: 20px;
    height: 4px;
    position: relative;
    background: $light-grey-color;
    border-radius:10px;
    span{
      display: block;
      height:100%;
      background-color: #abc111;
      position: relative;
      overflow: hidden;
      border-radius:10px;
    }
  }
}

.animate > span:after {
  display: none;
}

.meter > span:after, .animate > span > span {
  animation: move 10s linear infinite;
}

// navbar Step1, Step2, Step3
  .lock-icon{
    margin-right: 10px;
    font-size: $heading-xxxl;
  }
  .form-group{
    small{
    line-height: 14px !important;
    display: block;
    }
  }
.form-control{
    border-radius: 3px;
    height: 42px;
    padding: 10px 12px;
    font-family: $font-light;
}
  .circle {
    border-radius: 50px;
    height: 35px;
    width: 35px;
    padding: 3px 0px;
    display: block;
    border: 4px solid #0091b5;
    text-align: center;
    float: left;
    font-weight: bold;
    color: #666;
    font-size: 16px;
  }
  header.top{
      margin-top: 10px;
  }
  .steps-title {
      line-height: 36px;
      font-size: $heading-xxl;
      padding-left: 15px;
      color: #333;
      font-family: $font-light-regular;
  }
  .steps{
      line-height: 36px;
      font-family: $font-light;
      font-size: $heading-m;
  }
  .lines-full{
      border:2px solid #0091b5;
      width: 33%;
      display: block;
      float: left;
      margin: 10px 0 10px 0;
  }
  .lines-fill{
      border:2px solid #ccc;
      width: 66.6%;
      display: block;
      float: left;
      margin: 10px 0 10px 0;
  }

//Header step 2
step2{
    .lines-full{
      width: 66.6%;
    }
    .lines-fill{
      width: 33.3%;
    }
}
//Header step 3
step3{
    .lines-full{
      width: 100%;
    }
}

.rules{
  list-style-type: none;
  padding-left: 0;
  .bullet{
    max-width: 15px;
    max-height: 15px;
  }
}

.contacto-telefono,
.code-validation,
.card-information,
.identificacion-section,
.identificacion-datos,
.reenviar-codigo,
.datos-beneficiario,
.identificacion-beneficiario-domicilio,
.contrato-aceptar,
.password-form{
  margin: 5% 2.5% 2.5% 2.5%;
}

.bg-lighter-grey-color{
  background-color: $lighter-grey-color;
}

.add-padding{
  padding:30px !important;
  margin-right:-30px;
}

.combodate {
  display:block;
  margin:auto;
}
.combodate .form-control {
  display:inline-block;
}

#thing,
#thong{
  display:none;
}

.icon{
  width:15px;
  height:15px;
  background: url('../images/icons/icono-alerta.svg') no-repeat center center fixed;
}

.tooltip{
  background-image: url('images/icons/icono-alerta.svg');
}

.smsHints{
  margin-top:10px;
  list-style: none;
  li{
    margin-bottom: 7px;
  }
}

.image-upload{
  margin:20px 0;
}

.preview-image{
  width:100%;
  margin:0;
  padding:0;
  object-fit: contain;
}

.image-upload > .btn-file{
  background: url('../images/icons/cam.svg') no-repeat center center;
  background-size: 100px;
  min-height: 220px;
}

@media only screen and (max-width:$mobile-width){
  .image-upload > .btn-file{
    background: url('../images/icons/cam.svg') no-repeat center center;
    background-size: 45px;
    min-height: 100px;
  }
}

.image-upload > input{
  //display: none;
  visibility: hidden;
}

.overlay  {
  background:rgba(150,150,150,.75);
  text-align:center;
  padding:45px 0 66px 0;
  //opacity:;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

// Modals
@import "_modals.scss";



#gmaps {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.spinner{
  position: absolute;
  background: rgba(255,255,255,0.9);
  top:0;
  left:0;
  width:100%;
  height:1000vh;
  z-index: 10000;
}

.sk-circle {
  width: 300px;
  height: 200px;
  line-height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 10001; /* 1px higher than the overlay layer */
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $red-color;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.selection{
  list-style: none;
  padding-left: 0;
}

.version{
  position: fixed;
  bottom: 0;
  left: 0;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.confirmation{
  font-family:sans-serif;
  h2.success{
    color:#abc111;
    font-family:'Open Sans Light', sans-serif !important;
    font-size:18px;
    font-weight: bold;
    img{
      height: 20px;
      margin-right: 10px;
    }
  }
  //.items{
    //max-height: 100px;
  .panel-body{
      padding-left: 0;
      padding-bottom: 7px;
      padding-top: 7px;
      .item-image{
        margin-right:25px;
        float: left;
        span{
          img{
            height: 75px;
          }
        }
      }
  //  }

    .item-title{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif !important;
    width:74px;
    display: block;
    margin-top: 17px;
    font-weight: bold;
    float: left;
    }

    .user-number,
    .card-number,
    .cuenta-number{
      display: block;
      margin-top:20px;
    }
  }
  .download{
      background: #fff;
      border-top: 1px solid #dcdcdc;
      width: 100%;
      span{
        font-size: 16px;
        color: #EC0000;
        display: block;
        text-align: center;
        img{
          height: 30px;
          margin-right: 15px;
        }
      }

    }
    .user-number,
    .card-number,
    .cuenta-number{
      font-size: 20px;
    }
}

.focal-msg{
    background-image: url('../images/icons/tl.png'),
                      url('../images/icons/tr.png'),
                      url('../images/icons/bl.png'),
                      url('../images/icons/br.png');
    background-position: left top, right top, left bottom, right bottom;
    background-size: 10%;
    background-repeat: no-repeat;
    width:60%;
    padding: 4%;
    //background-size: contain;
    margin: 20px auto 0 auto;
    font-size: 17px;
}

.small-img{
  max-height: 75px;
}



.calificar-container{
  padding:0;
  background: $red-color;
}
.encuestabtn{
  margin-top:30px;
  margin-bottom:50px;
}

.stars{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    /*background: #EC0000; /* For browsers that do not support gradients */
    /*background: linear-gradient(#EC0000, #ff4c4c); /* Standard syntax */
    /*background-image: url(/images/icons/foto-encuesta.jpg);
    background-size: cover;
    background-color:#EC0000;*/
    color:#fff;
    img{
      width:50%;
    }
    .estrellas{
      font-size:18px;
    }

    .excelente{&:before{content:'Excelente'}}
    .bueno{&:before{content:'Buena'}}
    .regular{&:before{content:'Regular'}}
    .mala{&:before{content:'Mala'}}
    .muymala{&:before{content:'Muy mala'}}
    .qualification{font-size:20px;}
  .comment{
    display:none;
    &.agregar{
    display:block;
    }
  }
  .riting{
    a{
      color: #fff;
    }
    display:none;
    &.ver-boton{
    display:block;
    }
  }
  .borrar{
    display: none;
  }
  a{text-decoration:none;}
}

.footer{

  position:fixed;
  bottom: 10px;
  left: 0;
  .bottom-card-rail{
    display: -webkit-inline-box;
    display: -moz-inline-box;
    overflow-x:scroll;
    overflow-y:hidden;
    margin-left: 10px;
    height: auto;
    .panel{
      max-width: 350px;
      min-width: 350px;
    }
  }
  //margin-left: 150px;
  // .bottom-card-rail{
  //   display:-webkit-inline-box;
  //   position: relative;
  //   //width: auto;
  //   overflow-x:scroll;
  //   .panel{
  //     max-width:350px;
  //     min-width:350px;
  //   }
  // }
}

/*
Optional adjustments for md-autocomplete in mobile screens
*/

#place-autocomplete > md-autocomplete md-input-container {
  margin-top: -10px;
}

.newBar {
    background-color: #ec0000;
}

.newBarSpecialBranch{
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
}

/*Media query for tablets and above */

@media screen and (max-width: 414px) {
  .data {
    position: absolute;
    font-family: 'Kredit';
    top: 99px;
    left: 30px;
    font-size: 11px;
  }
  .stars {
    overflow: auto;
  }
}

@media screen and (min-width: 480px) {
  #place-autocomplete > md-autocomplete md-input-container {
    padding-bottom: 0;
  }

  .top-space{
    margin-top:138px;
  }
}

@media only screen and (max-width:600px){

  .navbar{
    background-color: $red-color !important;
    .navbar-brand{
      width:100%;
      header{
        background: url('../images/icons/logoSantander.svg') no-repeat center center;
        width:100%;
        font:$font-light;
        color:$positive-text-color;
        /* Hide the text. */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      .lock-message{
          position: absolute;
          top:15px;
          right:10%;
          font-size: $heading-s;
          color:$positive-text-color;
          /* Hide the text. */
          text-indent: -1000%;
          white-space: nowrap;
          overflow: hidden;
      }
      img {
        width: 75%;
      }
    }
  }

  .banner{
    display: block;
    width:100%;
    min-height: 150px;
    background: url("../images/data/banner.jpeg") center center;
    background-size: cover;
    span{
      img{
        display:none;
      }
      display:block;
      color: $positive-text-color;
      width:100%;
      min-height:250px;
      border-radius: 5px;
      padding:30px;
      background: rgba(0,0,0,0.5);
      .call-to-action-text{
        font-size: $heading-xxl;
      }
    }
  }

  .image-viewer{
    width:100%;
    margin:0;
    margin-top:30px;

    background-color: $light-grey-color;
    .tool-bar{
      width:100%;
      min-height: 10px;
      padding:0 5%;
    }
    .viewer{
      height: 100%;
      width:100%;
      max-height:400px;
      text-align: center;
      overflow: scroll;
      div{
        //overflow-y: scroll;
        img{
          width: 110%;
          height: 100%;
          margin-bottom: 1em;
        }
      }

    }
  }

  .add-padding{
    padding:30px !important;
    margin-right: 0px;
  }

  .no-block{
    display: block;
    width: 100%;
  }

}

@media (max-height:300px){
  .landing-footer{
    img{
      display:none;
    }
  }
}

@media screen and (min-width:760px) {
  .focal-msg{
      background-image: url('../images/icons/tl.png'),
                        url('../images/icons/tr.png'),
                        url('../images/icons/bl.png'),
                        url('../images/icons/br.png');
      background-position: left top, right top, left bottom, right bottom;
      background-repeat: no-repeat;
      width:75%;
      padding: 6%;
      //background-size: contain;
      margin: 20px auto 0 auto;
      font-size: 14px;
  }

  .landing-head{
    margin-bottom: 5%;
    img{
      width:379px !important;
    }

  }

  .add-padding{
    padding:30px !important;
    margin-right:-30px;
  }

  .landing-body{
    text-align: center;
    margin: auto;
    button{
      width:50% !important;
      font-size:0.9em !important;
    }
  }
  .kievitReg{
    font-size: 3.5em !important;
    line-height: 1em !important;
  }

  .kievitLight{
    font-size: 2.5em !important;
    line-height: 1em !important;
  }

  .kievitBold{
    font-family: $landing-kievit-bold;
    font-size:4em !important;
    line-height:1em !important;
  }

  .landing-footer{
    left:32.5% !important;
    img{
      width:35% !important;
    }
  }

  .no-block{
    padding:1em;
    margin:0.5em;
  }

  .desktop-container{
    margin: 0 35%;
  }

}


.md-switch{
  line-height: 20px !important;
  font-size: 10px !important;
}

@media only screen and (max-width:$mobile-width){
  #branch_locator{
    position:fixed; top:55px; bottom:0; right:0; left:0;
  }
}
@media only screen and (min-width:$tablet-width){
  #branch_locator{
    position:fixed; top:140px; bottom:0; right:0; left:0;
  }
}





@import "_mapcanvas.scss";
@import "_branchlocatorsearch.scss";
@import "_fablocationbutton.scss";
@import "_button.scss";
@import "_card.scss";
@import "_customradiobtn.scss";
@import "_customimagedocument.scss";
@import "_modalocr.scss";
