<div class="">
  <place-autocomplete id="searchTerm" ng-model="addressToSearch"></place-autocomplete>

  <div id="map_canvas"></div>

  <div class="bottom-card-rail">
    <nav id="BUTTON_FAV" class="fablocationbutton">
      <a class="buttons" ng-click="branchCtrl.centerToPosition()" tooltip="Mi ubicación"></a>
    </nav>
    <div id="CARD_branch" ng-if="selectedCard[0]" class="panel panel-default col-md-4 col-xs-10 slideInRight">
      <div class="panel-header">
        <img src="img/icons/logoFlama.png">
        <div class="title">{{selectedCard[0].name}}</div>
      </div>
      <div class="panel-body">
        <div class="address_info">
          <div class="street">{{selectedCard[0].address}}</div>
          <span class="address small">{{selectedCard[0].colony}}</span><br>
          <span class="address small">{{selectedCard[0].city}} {{selectedCard[0].postalCode}}</span>
        </div>
        <div class="distance_info">
          <img src="img/icons/iconoDistancia.png">
          <span class="distance small">{{branchCtrl.getDistance(selectedCard[0].distance)}} Km</span>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btns default" ng-click="branchCtrl.saveBranch(selectedCard[0])">SELECCIONAR ESTA SUCURSAL</button>
      </div>
    </div>
  </div>
</div>
