<div id="place-autocomplete">
  <form class="branchlocatorsearch">
    <input type="search" placeholder="Selecciona o busca una sucursal" ng-click="clear()" ng-model="searchText" ng-change="search(searchText)">
    <span ng-if="!placeSelected">
      <div class="itemplace" ng-repeat="item in places" style="">
        <div class="item" ng-click="getLatLng(item)">
          <img src="img/icons/pin.png" style="max-width: 16px;max-height:32px;"> {{item.description | limitTo:40}}<span ng-if="item.description.length > 40">...</span>
        </div>
      </div>
    </span>
    <span ng-if="places.length == 0 && !placeSelected">
      No se encontraron sucursales en esta ubicación, favor de buscar por dirección de la sucursal que desees.
    </span>
  </form>
</div>
