<section class="identificacion-section" ng-show="idSelectionIsVisible">
  <documento></documento>
</section>

<div ng-show="idDatosIsVisible">

  <section class="identificacion-datos">
    <datoscliente></datoscliente>
  </section>

  <section class="datos-beneficiario">
    <datosbeneficiario></datosbeneficiario>
  </section>

  <div class="row">
    <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
      <button id="BTN_identificacionformcontinuar" ng-show="identificacion.soloCliente" class="btn btn-primary no-block" ng-click="saveData(clientForm)" ng-disabled='!clientForm.$valid'>Continuar</button>
      <button id="BTN_identificacionformcontinuarconbeneficiario" ng-show="identificacion.conBeneficiario" class="btn btn-primary no-block" ng-click="saveData(clientForm)" ng-disabled="!beneficiarioForm.$valid || !clientForm.$valid">Continuar con Beneficiario</button>
    </div>
  </div>
  <div class="stepper">
  </div>
</div>
