@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'KievitOT Bold';
  src: url("../fonts/KievitOT-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'KievitOT Book';
  src: url("../fonts/KievitOT-Book.otf") format("opentype"); }

@font-face {
  font-family: 'KievitOT Light';
  src: url("../fonts/KievitOT-Light.otf") format("opentype"); }

@font-face {
  font-family: 'KievitOT Medium';
  src: url("../fonts/KievitOT-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'KievitOT Regular';
  src: url("../fonts/KievitOT-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Kredit';
  src: url("../fonts/kredit.ttf") format("truetype"); }
