<div class="container">
  <h2 class="title-page">{{cardinfo.formCardTitle}}</h2>
  <hr class="red">
  <p ng-hide="cardinfo.esMa">{{cardinfo.formCardSubtitle}}</p>
  <section id="" class="card-information">
    <form name="cardForm" novalidate="">
      <div ng-if="cardinfo.esMa" >
        <div class="row">
          <!-- <div class="col-md-12 col-xs-12">
            <p>
              {{cardinfo.preguntanewcard}}
            </p>
          </div>
          <div class="col-md-3 col-md-offset-1 col-xs-3 col-xs-offset-2">
            <input type="radio" id="RADIO_preguntacreatecard_SI" name="si" value="true" ng-model="cardinfo.preguntanewcardrespuesta" ng-required="cardinfo.esMa" />
            <label for="si">Sí</label>
          </div>
          <div class="col-md-3 col-md-offset-2 col-xs-3 col-xs-offset-2">
            <input type="radio" id="RADIO_preguntacreatecard_NO" name="no" value="false" ng-model="cardinfo.preguntanewcardrespuesta" ng-required="cardinfo.esMa"/>
            <label for="no">No</label>
          </div> -->
          <div>
            <div class="col-md-12 col-xs-12">
              <p>
                {{cardinfo.pregunta}}
              </p>
            </div>

            
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
              <div class="floating-radio">
                <input type="radio" id="RADIO_recibirDomicilio" name="tarjetaFisica" value="S" ng-model="cardinfo.tarjetaFisica" ng-change="cardinfo.saveTarjetaFisica()" ng-required="cardinfo.esMa"  />
                <label for="RADIO_recibirDomicilio">{{cardinfo.opcionDomicilio}}</label>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
              <div class="floating-radio">
                <input type="radio" id="RADIO_recibirSucursal" name="tarjetaFisica" value="D" ng-model="cardinfo.tarjetaFisica" ng-change="cardinfo.saveTarjetaFisica()" ng-required="cardinfo.esMa"/>
                <label for="RADIO_recibirSucursal">{{cardinfo.opcionSucursal}}</label>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
              <div class="floating-radio">
                <input type="radio" id="RADIO_cuentaSinTarjeta" name="tarjetaFisica" value="F" ng-model="cardinfo.tarjetaFisica" ng-change="cardinfo.saveTarjetaFisica()" ng-required="cardinfo.esMa"  />
                <label for="RADIO_cuentaSinTarjeta">{{cardinfo.opcionExpress}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row" ng-show="cardinfo.preguntanewcardrespuesta == 'true' || cardinfo.esUniversidades || cardinfo.esNomina">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error' : cardForm.pan.$invalid && !cardForm.pan.$pristine && cardForm.pan.$touched }">
            <label>
              {{cardinfo.formCardNumero}}
              <span class="icon">
                <img src="images/icons/icono-alerta.svg" class="icon">
                <md-tooltip md-direction="top">{{cardinfo.mensajeTooltipNumero}}</md-tooltip>
                <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
              </span>
            </label>
            <input id="NUM_IngresaTarjeta" just-numbers masking ui-mask="**** **** **** 9999" ng-keydown="cardinfo.eraseCard($event)"  ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" type="text" ng-attr-placeholder="{{cardinfo.formCardNumeroPlaceholder}}" name="pan" ng-model="cardinfo.pan" ng-change="cardinfo.saveCard()" ng-required="cardinfo.esUniversidades || cardinfo.esNomina || (cardinfo.esMa && cardinfo.preguntanewcardrespuesta == 'true')" >

          </div>
          <span class="help-block" ng-messages="cardForm.pan.$error" ng-if='cardForm.pan.$touched'>
            <p ng-message="minlength">Número de tarjeta debe de tener 16 dígitos.</p>
            <p ng-message="max">Número de tarjeta debe de tener 16 dígitos.</p>
            <p ng-message="required">Número de tarjeta debe de tener 16 dígitos.</p>
          </span>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              {{cardinfo.formCardPassDate}}&nbsp;
              <span class="icon">
                <img src="images/icons/icono-alerta.svg" class="icon">
                <md-tooltip md-direction="top">{{cardinfo.tooltipCardPassDate}}</md-tooltip>
                <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
              </span>
            </label>
            <div class="row">
              <div ng-hide="cardinfo.showDate" style="border:1px solid #ccc; border-radius:3px;" class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1" ng-click="cardinfo.toggleDate();">
                <div class="text-center">
                    <span style="font-size:x-large; ">&#9679;&#9679;</span>
                    <span style="font-size:x-large;">&#47;</span>
                    <span style="font-size:x-large; ">&#9679;&#9679;</span>
                </div>
              </div>
              <div ng-show="cardinfo.showDate">
                <div class="col-md-6 col-xs-6" ng-class="{ 'has-error' : cardForm.vencimientoMes.$invalid && !cardForm.vencimientoMes.$pristine && cardForm.vencimientoMes.$touched}">
                  <select id="NUM_TarjetaVence_Mes" class="form-control" name="vencimientoMes" ng-model="cardinfo.vencimientoMes" ng-change="cardinfo.saveMes()" ng-required="cardinfo.esUniversidades || cardinfo.esNomina || (cardinfo.esMa && cardinfo.preguntanewcardrespuesta == 'true')">
                    <option ng-repeat="month in cardinfo.months" ng-attr-value="{{month}}">{{month}}</option>
                  </select>
                  <div class="help-block" ng-messages="cardForm.vencimientoMes.$error" ng-if='cardForm.vencimientoMes.$touched'>
                    <p ng-message="required">El campo es obligatorio.</p>
                    <p ng-message="pattern">Solo acepta números.</p>
                    <p ng-message="max">el mes {{cardinfo.vencimientoMes}} no existe</p>
                  </div>
                </div>
                <div class="col-md-6 col-xs-6" ng-class="{ 'has-error' : cardForm.anio.$invalid && !cardForm.anio.$pristine && cardForm.anio.$touched}">
                  <select ng-blur="cardinfo.toggleDate();" id="NUM_TarjetaVence_ano" class="form-control" name="anio" ng-model="cardinfo.vencimientoAnio" ng-change="cardinfo.saveAnio()" ng-required="cardinfo.esUniversidades || cardinfo.esNomina || (cardinfo.esMa && cardinfo.preguntanewcardrespuesta == 'true')">
                    <option ng-repeat="year in cardinfo.years" ng-attr-value="{{year}}">{{year}}</option>
                  </select>
                  <div class="help-block" ng-messages="cardForm.anio.$error" ng-if='cardForm.anio.$touched'>
                    <p ng-message="required">El campo es obligatorio.</p>
                    <p ng-message="pattern">Solo acepta números.</p>
                    <p ng-message="min">el año {{cardinfo.anio}} ya pasó</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" ng-class="{ 'has-error' : cardForm.ccv.$invalid && !cardForm.ccv.$pristine && cardForm.ccv.$touched}">
            <label style="font-size:0.9em;">
              {{cardinfo.formCardCcv}}
              <span class="icon">
                <img src="images/icons/icono-alerta.svg" class="icon">
                <md-tooltip md-direction="top">{{cardinfo.tooltipCardCcv}}</md-tooltip>
                <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
              </span>
            </label>
            <input id="NUM_TarjetaCVV" maskingcvv class="form-control" just-numbers name='ccv' placeholder="cvv" type="numbers" ng-model="cardinfo.ccv" ng-change="cardinfo.saveCcv()" ng-minlength="3" ng-maxlength="3" minlength="3" maxlength="3" min="3" max="3" ng-pattern="justNumbers" ng-required="cardinfo.esUniversidades || cardinfo.esNomina || (cardinfo.esMa && cardinfo.preguntanewcardrespuesta == 'true')">
          </div>
          <div class="help-block" ng-messages="cardForm.ccv.$error" ng-if="cardForm.ccv.$touched">
            <p ng-message="required">Número de CVV debe contener 3 dígitos.</p>
            <p ng-message="pattern">Número de CVV debe contener 3 dígitos.</p>
            <p ng-message="minlength">Número de CVV debe contener 3 dígitos.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <md-switch class="md-primary" aria-label="Switch No Ink" ng-model="cardinfo.aceptado" ng-if="cardinfo.esNomina">
            <span style="white-space:normal;">{{cardinfo.labelAcceptance}}</span>
          </md-switch>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-8 col-xs-10 col-xs-offset-1" ng-show="cardinfo.preguntanewcardrespuesta == 'true' || cardinfo.esUniversidades || cardinfo.esNomina">
          <button id="BTN_IngresaTarjetaSiguiente" class="btn btn-primary no-block" ng-click="cardinfo.validarTarjeta()" ng-disabled='cardinfo.buttonDisabled(cardForm)'>Continuar</button>
        </div>
        <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1" ng-hide="cardinfo.preguntanewcardrespuesta == 'true' || cardinfo.esUniversidades || cardinfo.esNomina ">
          <button id="BTN_CrearTarjeta" class="btn btn-primary no-block" ng-click="cardinfo.crearTarjeta()" ng-disabled="cardinfo.buttonDisabled(cardForm)">Continuar</button>
        </div>
      </div>

      <br>

    </form>
  </section>

  <!-- <section class="pregunta-newcard" ng-if="cardinfo.esMa">
    <form name="newCard" novalidate="">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <p>
            {{cardinfo.copyMercadoAbierto}}
          </p>
          <img src="images/data/tarjeta_muestra.png" style="width:100%;" />
        </div>
      </div> -->

      <!-- <div class="checkbox">
        <md-switch class="md-primary col-md-12" aria-label="Switch No Ink" ng-model="cardinfo.aceptado">
          Quiero recibir mi tarjeta de débito física
        </md-switch>
      </div>

    </form>
    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
        <button id="BTN_CrearTarjeta" class="btn btn-primary no-block" ng-click="cardinfo.crearTarjeta()">Continuar</button>
      </div>
    </div>
  </section> -->
</div>
