<div class="container" style="margin-top:100px">
  <form name="sucursalForm" novalidate="">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group" ng-class="{ 'has-error' : slightCtrl.sucursalId.$invalid && !slightCtrl.sucursalId.$pristine && slightCtrl.sucursalId.$touched }" >
          <label>{{slightCtrl.sucursalLabel}}</label>
          <input id="TXT_SucursalLabel" class="form-control" type="text" ng-trim="" placeholder="Identificador de la sucursal" just-numbers name="sucursalId" no-special-char ng-model="slightCtrl.sucursalId" required/>
          <span class="help-block" ng-messages="slightCtrl.sucursalId.$error" ng-if='slightCtrl.sucursalId.$touched'>
            <p ng-message="required">Debes colocar el ID de la sucursal para continuar.</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8 col-xs-8 col-xs-offset-2">
        <button id="BTN_SucursalSiguiente" class="btn btn-primary btn-block" ng-disabled='slightCtrl.$invalid' ng-click="slightCtrl.validarInput()"> Continuar </button>
      </div>
    </div>
  </form>
</div>
