<div id="MODAL_mensaje" class="modal-exito">
  <div class="modal-body text-center" style="border-radius:10px 10px 0 0;">
    <div class="modal-icon">
      <img src="{{modalOptions.modalIcon}}"/>
    </div>
    <h2 id="MODAL_header" class="h4">{{modalOptions.headerText}}</h2>
    <p id="MODAL_texto">{{modalOptions.bodyText}}</p>
  </div>
  <div class="modal-footer">
    <button id="BTN_ok" class="btn btn-default btn-block error-btn" ng-show="modalOptions.showOk" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    <button id="BTN_cerrar" type="button" class="btn btn-default btn-block error-btn" ng-show="modalOptions.showClose" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  </div>
</div>
