<section class="banner" style="background: url({{bannerCtrl.banner}}) no-repeat center center; background-size:contain;">
    <span ng-show="bannerCtrl.uniText && settings.desktop || bannerCtrl.uniText && settings.tablet">
      <div class="row">
        <div class="col-md-4">
          <img src="images/icons/iconBannerInicio.png">
        </div>
        <div class="col-md-8 call-to-action-text">
          {{bannerCtrl.text}}
        </div>
      </div>
    </span>
    <div class="row visible-xs" style="padding-top:35px; color:white;">
        <div class="col-md-12 flame-icon text-center">
            <img src="images/icons/logoFlama.png" width="35px" />
        </div>
        <div class="col-md-12 text-center">
            {{bannerCtrl.mobileTitle}}
        </div>
        <div class="date text-center">
            <small>{{bannerCtrl.mobileDate}}</small>
        </div>
    </div>
</section>
