<div class="">
  <h2 class="title-page">{{datosclienteCtrl.datosPersonaTitulo}}</h2>
  <p>{{datosclienteCtrl.datosPersonaMensaje}}</p>
  <form id="clientForm" name="clientForm" novalidate="">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.nombrePersona.$invalid && !clientForm.nombrePersona.$pristine && !clientForm.nombrePersona.$touched }" >
          <label>{{datosclienteCtrl.datosPersonaNombre}}</label>
          <input id="TXT_DatosPersonales_Nombre" type="text" class="form-control" no-special-char ng-maxlength="40" maxlength="40" max="40" name="nombrePersona" ng-model="datosclienteCtrl.nombrePersona" ng-change="datosclienteCtrl.saveNombre()" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages='clientForm.nombrePersona.$error' ng-if='clientForm.nombrePersona.$touched'>
          <p ng-message="required">Debes proporcionar un nombre.</p>
          <p ng-message="maxlength">Demasiado largo.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.apellidoPaterno.$invalid && !clientForm.apellidoPaterno.$pristine && !clientForm.apellidoPaterno.$touched }" >
          <label>{{datosclienteCtrl.datosPersonaPaterno}}</label>
          <input id="TXT_DatosPersonales_Paterno" type="text" class="form-control" no-special-char ng-maxlength="20" maxlength="20" max="20" name="apellidoPaterno" ng-model="datosclienteCtrl.apellidoPaterno" ng-change="datosclienteCtrl.saveApPaterno()" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages='clientForm.apellidoPaterno.$error' ng-if='clientForm.apellidoPaterno.$touched'>
          <p ng-message="required">Debes proporcionar un apellido paterno.</p>
          <p ng-message="maxlength">Demasiado largo.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.apellidoMaterno.$invalid && !clientForm.apellidoMaterno.$pristine && !clientForm.apellidoMaterno.$touched }" >
          <label>{{datosclienteCtrl.datosPersonaMaterno}}</label>
          <input id="TXT_DatosPersonales_Materno" type="text" class="form-control" no-special-char ng-maxlength="20" maxlength="20" max="20" name="apellidoMaterno" ng-model="datosclienteCtrl.apellidoMaterno" ng-change="datosclienteCtrl.saveApMaterno()" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages='clientForm.apellidoMaterno.$error' ng-if='clientForm.apellidoMaterno.$touched'>
          <p ng-message="maxlength">Demasiado largo.</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.fechaNacimiento.$invalid && !clientForm.fechaNacimiento.$pristine && clientForm.fechaNacimiento.$touched  }">
          <label>{{datosclienteCtrl.datosPersonaNacimiento}}</label>
          <div class="form-group" ng-class="{ 'has-error' : clientForm.fechaNacimiento.$invalid && !clientForm.fechaNacimiento.$pristine && clientForm.fechaNacimiento.$touched }">
            <input type="text" id="DATE_fechanacimiento" data-format="YYYY-MM-DD" data-template="D MMM YYYY" name="fechaNacimiento" ng-model="datosclienteCtrl.fechaNacimiento" ng-change="datosclienteCtrl.saveFechaNacimiento()" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
          </div>
        </div>
        <span class="help-block" ng-messages='clientForm.fechaNacimiento.$error' ng-if="clientForm.fechaNacimiento.$dirty">
          <p ng-message="adulto" >No eres mayor de edad.</p>
          <p ng-message="required">Campo obligatorio.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.nacionalidad.$invalid && !clientForm.nacionalidad.$pristine && clientForm.entidadNacimiento.$touched }">
          <label>{{datosclienteCtrl.datosPersonaPaisNacimiento}}</label>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_Nacionalidad_mexicana" name="nacionalidad" type="radio" ng-model="datosclienteCtrl.nacionalidad" ng-change="datosclienteCtrl.saveNacionalidad()" value="M" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable"  placeholder="ingresar">
                <label for="BTN_Nacionalidad_mexicana">
                  México
                </label>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_Nacionalidad_extranjera" name="nacionalidad" type="radio" ng-model="datosclienteCtrl.nacionalidad" ng-change="datosclienteCtrl.saveNacionalidad()" value="E" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
                <label for="BTN_Nacionalidad_extranjera">
                  Otro
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.entidadNacimiento.$invalid && !clientForm.entidadNacimiento.$pristine && clientForm.entidadNacimiento.$touched }">
          <label>{{datosclienteCtrl.datosPersonaEntidad}}</label>
          <select id="SELECT_entidadNacimiento" class="form-control" ng-options="estado as estado.descripcion for estado in datosclienteCtrl.chooseEntidad track by estado.id" ng-change="datosclienteCtrl.saveEntidadNacimiento()" ng-model="datosclienteCtrl.entidadNacimiento" name="entidadNacimiento" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable || !datosclienteCtrl.chooseEntidad.length"></select>
        </div>
        <span class="help-block" ng-messages="clientForm.entidadNacimiento.$error" ng-if="clientForm.entidadNacimiento.touched">
          <p ng-message="required">Selecciona una entidad de nacimiento.</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12" ng-if="datosclienteCtrl.showIlicitas">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.ilicitas.$invalid && !clientForm.ilicitas.$pristine && clientForm.ilicitas.$touched }" >
          <label>{{datosclienteCtrl.actividadIlicita}}</label>
          <select id="SELECT_actividadilicita" class="form-control actividadilicita" name="ilicitas" ng-options="rol as rol.descripcion for rol in datosclienteCtrl.ilicitas" ng-model="datosclienteCtrl.ilicita" ng-change="datosclienteCtrl.checkilicita()" ng-required="datosclienteCtrl.showIlicitas && !datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable">
          </select>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.rolUniversitario.$invalid && !clientForm.rolUniversitario.$pristine && clientForm.rolUniversitario.$touched }">
          <label>{{datosclienteCtrl.titleActividad}}</label>
          <select id="SELECT_rolUniversitario" class="form-control" name="rolUniversitario" ng-model="datosclienteCtrl.rolUniversitario" ng-change="datosclienteCtrl.saveRolUni()" ng-options="rol as rol.descripcion for rol in datosclienteCtrl.uniRoles track by rol.actEspecifica" ng-required="!datosclienteCtrl.notEditable" ng-disabled="(datosclienteCtrl.showOcupacion && datosclienteCtrl.notEditable) || datosclienteCtrl.notEditable"></select>
        </div>
        <span class="help-block" ng-messages="clientForm.rolUniversitario.$error" ng-if="clientForm.rolUniversitario.$touched">
          <p ng-message="required">El campo es obligatorio.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.sexo.$invalid && !clientForm.sexo.$pristine && !clientForm.sexo.$touched }" >
          <label>{{datosclienteCtrl.datosPersonaSexo}}</label>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_DatosPersonales_Hombre" name="sexo" type="radio" ng-model="datosclienteCtrl.sexo" ng-change="datosclienteCtrl.saveGender()" value="H" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable">
                <label for="BTN_DatosPersonales_Hombre">
                  Hombre
                </label>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_DatosPersonales_Mujer" name="sexo" type="radio" ng-model="datosclienteCtrl.sexo" ng-change="datosclienteCtrl.saveGender()" value="M" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable">
                <label for="BTN_DatosPersonales_Mujer">
                  Mujer
                </label>
              </div>
            </div>
          </div>
        </div>
        <span class="help-block" ng-messages='clientForm.gender.$error' ng-if='clientForm.gender.$touched'>
          <p ng-message="required">Campo obligatorio.</p>
        </span>
      </div>
    </div>
    <h2 class="title-page">{{datosclienteCtrl.datosPersonaTitulo2}}</h2>
    <hr class="red">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.calle.$invalid && !clientForm.calle.$pristine && clientForm.calle.$touched }">
          <label>{{datosclienteCtrl.datosPersonaCalleLabel}}</label>
          <input id="TXT_calle" type="text" class="form-control" name="calle" ng-model="datosclienteCtrl.calle" ng-change="datosclienteCtrl.saveCalle()" maxlength="30" ng-maxlength="30" no-special-char ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages='clientForm.calle.$error' ng-if='clientForm.calle.$touched'>
          <p ng-message="required">Debes proporcionar un dato.</p>
        </span>
      </div>
      <div class="col-md-2 col-xs-6">
        <div class="form-group" ng-class="{ 'has-error': clientForm.exterior.$invalid && !clientForm.exterior.$pristine && clientForm.exterior.$touched }">
          <label>{{datosclienteCtrl.datosPersonaNumeroExteriorLabel}}</label>
          <input id="TXT_numeroexterior" type="text" class="form-control" name="exterior" ng-model="datosclienteCtrl.exterior" ng-change="datosclienteCtrl.saveExterior()" ng-maxlength="8" maxlength="8" no-special-char ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages="clientForm.exterior.$error" ng-if="clientForm.exterior.$touched">
          <p ng-message="required">Debes proporcionar un número exterior.</p>
          <p ng-message="maxlength">Demasiado largo.</p>
        </span>
      </div>
      <div class="col-md-2 col-xs-6">
        <div class="form-group" ng-class="{ 'has-error': clientForm.interior.$invalid && !clientForm.interior.$pristine && clientForm.interior.$touched }">
          <label>{{datosclienteCtrl.datosPersonaNumeroInteriorLabel}}</label>
          <input id="TXT_numerointerior" type="text" class="form-control" name="interior" ng-model="datosclienteCtrl.interior" ng-change="datosclienteCtrl.saveInterior()" ng-maxlength="8" maxlength="8" no-special-char ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
        <span class="help-block" ng-messages="clientForm.exterior.$error" ng-if="clientForm.interior.$touched">
          <p ng-message="maxlength">Demasiado largo.</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.zipcode.$invalid && !clientForm.zipcode.$pristine && clientForm.zipcode.$touched }">
          <label>{{datosclienteCtrl.datosPersonaCodigoPostalLabel}}</label>
          <input id="TXT_codigopostal" just-numbers maxlength="5" minlength="5" ng-minlength="5" ng-maxlength="5" type="text" class="form-control" name="zipcode" ng-model="datosclienteCtrl.zipcode" ng-change="datosclienteCtrl.saveZipCode()" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable" placeholder="ingresar">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <p style="margin-top:0.5em;">{{datosclienteCtrl.datosPersonaRegistroCp}}</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : clientForm.colonia.$invalid && !clientForm.colonia.$pristine && clientForm.colonia.$touched }">
          <label>
            {{datosclienteCtrl.datosPersonaMunicipioLabel}}
            <span id="TOOLTIP_coloniapoblacion" class="icon">
              <img src="images/icons/icono-alerta.svg" class="icon">
              <md-tooltip md-direction="top">{{datosclienteCtrl.datosPersonaCodigoAyuda}}</md-tooltip>
              <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
            </span>
          </label>
          <select id="SELECT_colonia" type="text" class="form-control" name="colonia" ng-model="datosclienteCtrl.selectedColonia" data-ng-change="datosclienteCtrl.savePoblacion()" ng-options="asentamiento as asentamiento.nombre for asentamiento in datosclienteCtrl.cpResponse" ng-required="!datosclienteCtrl.notEditable" ng-disabled="datosclienteCtrl.notEditable">
          </select>
        </div>
      </div>
    </div>
    <h2 class="title-page">
      {{datosclienteCtrl.beneficiarioTitle}}
      <span id="TOOLTIP_beneficiario" class="icon">
        <img src="images/icons/icono-alerta.svg" class="icon">
        <md-tooltip md-direction="top">{{datosclienteCtrl.tooltipBeneficiario}}</md-tooltip>
        <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
      </span>
    </h2>
    <p>{{datosclienteCtrl.textoBeneficiario}}</p>
    <div class="form-group">
      <div class="">
          <div class="radio floating-radio">
            <input name="beneficiario" id="RADIO_noAgregarBeneficiario" type="radio" value="n" ng-model="datosclienteCtrl.addBeneficiario" ng-click="datosclienteCtrl.showBeneficiario()" required>
            <label for="RADIO_noAgregarBeneficiario">
              {{datosclienteCtrl.agregarDespues}}
            </label>
          </div>
          <div class="radio floating-radio">
            <input name="beneficiario" id="RADIO_agregarBeneficiario" type="radio" value="s" ng-model="datosclienteCtrl.addBeneficiario" ng-click="datosclienteCtrl.showBeneficiario()" required>
            <label for="RADIO_agregarBeneficiario">
              {{datosclienteCtrl.agregarAhora}}
            </label>
          </div>
      </div>
    </div>
  </form>
</div>

<div class="row" ng-hide="datosclienteCtrl.showBeneficiario()">
  <div class="col-md-4 col-md-offset-8 col-xs-10 col-xs-offset-1">
    <button id="BTN_identificacionformcontinuar" ng-show="datosclienteCtrl.soloCliente" class="btn btn-primary no-block" ng-click="datosclienteCtrl.validarCliente()" ng-disabled='clientForm.$invalid'>Continuar</button>
    <!--<button id="BTN_identificacionformcontinuarconbeneficiario" ng-show="clienteCtrl.conBeneficiario" class="btn btn-primary no-block" ng-click="" ng-disabled="!beneficiarioForm.$valid || !clientForm.$valid">Continuar con Beneficiario</button>-->
  </div>
</div>
