<section class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p>{{nip.instrucciones}}</p>
    </div>
  </div>
  <div class="row desktop-container">
    <div class="col-md-5 col-sm-5 col-xs-5">
      <label style="font-size:0.75em; font-weight:bold;">{{nip.labelNip}}</label>
      <span class="nip-block text-center" ng-disabled="nip.disableSelect">
        <i class="fa fa-circle" aria-hidden="true" ng-repeat="valor in nip.selectedValues track by $index"></i>
      </span>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
      <label style="font-size:0.75em; font-weight:bold;">{{nip.labelConfNip}}</label>
      <span class="nip-block text-center" ng-disabled="nip.disableConfirmation">
        <i class="fa fa-circle" aria-hidden="true" ng-repeat="icon in nip.confirmationValues track by $index"></i>
      </span>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <label></label>
      <br>
      <span class="nip-validation text-center">
        <img id="nip_lbl_valido" style="width:100%;" ng-show="nip.showtick" src="images/icons/tick.png" />
        <img id="nip_lbl_invalido" style="width:100%;" ng-hide="nip.showtick" src="images/icons/wrong.png" />
      </span>
    </div>
  </div>
  <div class="keyboard desktop-container">
    <div class="row">
      <div class="nip-btn col-md-4 col-sm-4 col-xs-4" ng-repeat="button in nip.buttons">
        <img ng-hide="$index == 9" id="{{button.id}}" ng-click="nip.buttonPressed(button)" style="width:100%;" ng-src='data:image/png;base64,{{button.imagen}}' />
      </div>
      <div class="nip-btn col-md-4 col-sm-4 col-xs-4">
        <img id="nip_btn_borrarActive" ng-click="nip.buttonPressed(nip.borrar)" style="width:100%;" ng-hide="nip.disableBorrar" ng-src="{{nip.borrar.imagenActiva}}" />
        <img id="nip_btn_borrarInactive" ng-click="nip.buttonPressed(nip.borrar)" style="width:100%;" ng-show="nip.disableBorrar" ng-src="{{nip.borrar.imagenInactiva}}" />
      </div>
    </div>
  </div>
  <div class="send-button">
    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-sm-12 col-xs-12">
        <button id="nip_btn_continuar" class="btn btn-primary btn-block" ng-click="nip.saveAndSend()" ng-disabled="!nip.showtick">Continuar</button>
      </div>
    </div>
  </div>
</section>
