<section class="buro-credito container">
  <h2 class="title-page">{{buroTitle}}</h2>
  <p style="word-break=break-all; text-align: justify;">{{buroMensaje}}</p>
  <br>
  <form name="newCardForm">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
          {{buroPreguntaTarjeta}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaTarjeta_SI" name="preguntatarjeta" value="true" ng-model="buro.Tarjeta" ng-change="buro.saveTarjeta()" required />
        <label for="si_preguntatarjeta">SI</label>
      </div>
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaTarjeta_NO" name="preguntatarjeta" value="false" ng-model="buro.Tarjeta" ng-change="buro.saveTarjeta()" required />
        <label for="no_preguntatarjeta">NO</label>
      </div>
      <div class="col-xs-6 col-md-2 form-group">
        <input type="text" class="form-control" id="TXT_ultimosCuatroDigitos" name="digitos" ng-model="buro.digitos" ng-change="buro.saveDigitos()" justNumbers ng-minlength="4" ng-maxlength="4" maxlength="4" minlength="4" placeholder="Últimos 4 dígitos" ng-disabled="buro.isDigitsEnabled(buro.Tarjeta)" ng-required="!buro.isDigitsEnabled(buro.Tarjeta)" />
        <small>De alguna de sus tarjetas.</small>
        <span class="help-block" ng-messages="newCardForm.digitos.$error" ng-if="newCardForm.digitos.$touched">
          <p ng-message="minlength">Debe tener 4 dígitos.</p>
          <p ng-message="maxlength">Debe tener 4 dígitos.</p>
          <p ng-message="required">Debe tener 4 dígitos.</p>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
          {{buroPreguntaCredito}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaCredito_SI" name="preguntacredito" value="true" ng-model="buro.Credito" ng-change="buro.saveCredito()"  required/>
        <label for="si_preguntacredito">SI</label>
      </div>
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaCredito_NO" name="preguntacredito" value="false" ng-model="buro.Credito" ng-change="buro.saveCredito()" required  />
        <label for="no_preguntacredito">NO</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
          {{buroPreguntaAutomotriz}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaAutomotriz_SI" name="preguntaautomotriz" value="true" ng-model="buro.Automotriz" ng-change="buro.saveAutomotriz()" required />
        <label for="si_preguntaautomotriz">SI</label>
      </div>
      <div class="col-xs-3 col-md-1">
        <input type="radio" id="RADIO_preguntaAutomotriz_NO" name="preguntaautomotriz" value="false" ng-model="buro.Automotriz" ng-change="buro.saveAutomotriz()" required />
        <label for="no_preguntaautomotriz">NO</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <small>{{buroDisclaimer}}</small>
      </div>
    </div>
    <br>
    <div class="container-fluid bg-lighter-grey-color add-padding">
      <div class="row">
        <md-switch id="SWITCH_aceptarTerminosBuro" class="md-primary col-md-1 col-xs-1" aria-label="Switch No Ink" ng-model="buro.aceptado" ng-change="buro.saveAceptado()"></md-switch>
        <span class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1" style="margin:1em; text-align:justify;">{{buroTerminos}}</span>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
          <button id="BTN_contratocontinuar" ng-click="next('enviarBuro')" ng-disabled="newCardForm.$invalid && buro.aceptado === 'false' || buro.aceptado === undefined " class="btn btn-primary no-block">Acepto</button>
        </div>
      </div>
    </div>
  </form>
</section>
