<div class="container">
  <h2 class="title-page">{{documentoCtrl.identificacionTitle}}</h2>
  <hr class="red">
  <p>{{documentoCtrl.identificacionSubtitle}}</p>
  <br>
  <div class="">
    <div class="radio floating-radio">

      <input id="BTN_UsarIne" type="radio" name="tipoId" ng-model="documentoCtrl.tipoId" ng-click="documentoCtrl.showIne(tipoId)" value="BTN_UsarIne"  />
      <label for="BTN_UsarIne">
        {{documentoCtrl.identificacionIneLabel}}
      </label>
    </div>
    <form name="ineForm" novalidate="">
      <div class="row" ng-show="documentoCtrl.ineSelected">
        <div class="col-md-4 col-md-offset-2 col-xs-6">
          <div class="image-upload">
            <div class="image-preview" ng-show="documentoCtrl.ine.anverso">
              <img class="preview-image" src="data:image/png;base64,{{documentoCtrl.ine.anverso.base64}}" alt="">
            </div>

            <label for="FILE_anverso" class="btn btn-default btn-block" onClick="openCameraAndroid()" ng-class="{ 'btn-file' : !documentoCtrl.ine.anverso }">
              {{documentoCtrl.identificacionIneTextoFrente}}
            </label>
            <input id="FILE_anverso" type="file" name="anverso" ng-model="documentoCtrl.ine.anverso" parser="documentoCtrl.resizeImage" base-sixty-four-input accept="image/*" ng-change="documentoCtrl.cambioTexto(documentoCtrl.ine.textoFrente, 'anverso')" required />
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-xs-6 ">
          <div class="image-upload">
            <div class="image-preview" ng-show="documentoCtrl.ine.reverso">
              <img class="preview-image" src="data:image/png;base64,{{documentoCtrl.ine.reverso.base64}}" alt="">
            </div>
            <label for="FILE_reverso" class="btn btn-default btn-block" onClick="openCameraAndroid()" ng-class="{ 'btn-file' : !documentoCtrl.ine.reverso }">
              {{documentoCtrl.identificacionIneTextoReverso}}
            </label>
            <input id="FILE_reverso" type="file" name="reverso" ng-model="documentoCtrl.ine.reverso" parser="documentoCtrl.resizeImage" ng-change="documentoCtrl.cambioTexto(documentoCtrl.ine.reverso, 'reverso')" accept="image/*" base-sixty-four-input required />
          </div>
        </div>
      </div>
    </form>
    <div class="radio floating-radio">

      <input id="BTN_UsarPasaporte" type="radio" name="tipoId" ng-model="documentoCtrl.tipoId" ng-click="documentoCtrl.showPass()" value="BTN_UsarPasaporte" />
      <label for="BTN_UsarPasaporte">
        {{documentoCtrl.identificacionPasaporteLabel}}
      </label>
    </div>
    <form name="passForm" novalidate="">
      <div class="row" ng-show="documentoCtrl.pasaporteSelected">
        <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
          <div class="image-upload">
            <div class="image-preview" ng-show="documentoCtrl.pasaporte.datos">
              <img class="preview-image" src="data:image/png;base64,{{documentoCtrl.pasaporte.datos.base64}}" alt="">
            </div>
            <label for="FILE_datos" class="btn btn-default btn-block" ng-class="{ 'btn-file' : !documentoCtrl.pasaporte.datos }">
              {{documentoCtrl.identificacionPasaporteTextoFrente}}
            </label>
            <input id="FILE_datos" type="file" name="anverso" ng-model="documentoCtrl.pasaporte.datos" parser="documentoCtrl.resizeImage" ng-change="documentoCtrl.cambioTexto(documentoCtrl.pasaporte.datos, 'pasaporte')" base-sixty-four-input accept="image/*" required />
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1" style="margin-bottom:60px;">
        <button id="BTN_identificacioncontinuar" class="btn btn-primary no-block" ng-click="documentoCtrl.prevalidarIdentificacion()" ng-disabled='documentoCtrl.disableIdButton()'>Continuar</button>
      </div>
    </div>
  </div>
</div>





<!-- <div>
  <div>
    <div class="form-group">
      <div class="row">
        <input id="BTN_UsarIne" type="radio" name="tipoId" ng-model="identificacion.tipoId" ng-click="identificacion.showIne(tipoId)" value="BTN_UsarIne"  />
        <label for="BTN_UsarIne">{{identificacionIneLabel}}</label>
        <!--<ine name="ineDir" ng-show="identificacion.ineSelected"></ine>
        <form name="ineForm" novalidate="">
          <div class="row" ng-show="identificacion.ineSelected">
            <div class="col-md-4 col-md-offset-2">
              <div class="image-upload">
                <div class="im ="preview-image" src="data:image/png;base64,{{identificacion.ine.anverso.base64}}">
                </div>
                <label for="FILE_anverso" class="btn btn-default btn-block" ng-click="documentoCtrl.onLoadStartAnverso()" ng-class="{ 'btn-file' : !identificacion.ine.anverso }">
                  {{identificacionIneTextoFrente}}
                </label>
                <input id="FILE_anverso" type="file" name="anverso"  ng-model="identificacion.ine.anverso" parser="identificacion.resizeImage" base-sixty-four-input accept="image/*" ng-change="identificacion.cambioTexto(identificacion.ine.textoFrente, 'anverso')" required />
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="image-upload">
                <div class="image-preview" ng-show="identificacion.ine.reverso">
                  <img class="preview-image" src="data:image/png;base64,{{identificacion.ine.reverso.base64}}" ng-show="true">
                </div>
                <label for="FILE_reverso" class="btn btn-default btn-block" ng-class="{ 'btn-file' : !identificacion.ine.reverso }">
                  {{identificacionIneTextoReverso}}
                </label>
                <input id="FILE_reverso" type="file" name="reverso" ng-model="identificacion.ine.reverso" parser="identificacion.resizeImage" ng-change="identificacion.cambioTexto(identificacion.ine.reverso, 'reverso')" accept="image/*" base-sixty-four-input required >
              </div>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="row">
        <input id="BTN_UsarPasaporte" type="radio" name="tipoId" ng-model="identificacion.tipoId" ng-click="identificacion.showPass()" value="BTN_UsarPasaporte" />
        <label for="BTN_UsarPasaporte">{{identificacionPasaporteLabel}}</label>
        <!--<pasaporte ng-show="identificacion.pasaporteSelected"></pasaporte>-
        <form name="passForm" novalidate="">
          <div class="row" ng-show="identificacion.pasaporteSelected">
            <div class="col-md-4 col-md-offset-4">
              <div class="image-upload">
                <div class="image-preview" ng-show="identificacion.pasaporte.datos">
                  <img class="preview-image" src="data:image/png;base64,{{identificacion.pasaporte.datos.base64}}">
                </div>
                <label for="FILE_datos" class="btn btn-default btn-block" ng-class="{ 'btn-file' : !identificacion.pasaporte.datos }">
                  {{identificacionPasaporteTextoFrente}}
                </label>
                <input id="FILE_datos" type="file" name="anverso" ng-model="identificacion.pasaporte.datos" parser="identificacion.resizeImage" ng-change="identificacion.cambioTexto(identificacion.pasaporte.datos, 'pasaporte')" base-sixty-four-input accept="image/*" required />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1" style="margin-bottom:60px;">
        <button id="BTN_identificacioncontinuar" class="btn btn-primary no-block" ng-click="saveData(ineForm)" ng-disabled='identificacion.disableIdButton()'>Continuar</button>
      </div>
    </div>
  </div>
</div> -->
