<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
          <span>Google places/location suggestions with md-autocomplete</span>
        </h2>
      <span flex></span>
    </div>
  </md-toolbar>
</md-content>
<md-content layout-padding>
  <p>Start typing the name of a place/location below</p>
  <div class="md-padding">
    <place-autocomplete ng-model="location"></place-autocomplete>
    <div ng-if="location.name">
      <h4>Selected location</h4>
      <pre>{{location|json}}</pre>
    </div>
  </div>
</md-content>


<div class="container stepper">
  <header class="row">
    <h1 class="col-md-4">Test de servicios </h1>
    <div class="col-md-4">
      <h3>id solicitud:</h3>
      <p>{{testservice.responseDatosContacto.datos.idSolicitud}}</p>
    </div>
    <div class="col-md-4">
      <h3>id Cliente:</h3>
      <p>{{testservice.responseDatosContacto.datos.idNoCliente}}</p>
    </div>
  </header>
  <hr>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.getCopies()">Copies</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseCopies}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseCopies.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.getBeneficios()">Beneficios</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseBeneficios}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseBeneficios.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendDatosContacto()">Datos contacto</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseDatosContacto}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseDatosContacto.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendToken()">Token {{testservice.responseDatosContacto.datos.token}}</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseToken}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseToken.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.getContrato()">Contrato</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseContrato}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseContrato.status}}</pre>
    </div>
  </div>
  <!-- datos tarjeta -->
<hr>
  <div class="row">
    <div class="col-md-4 form-group">
      <button class="btn btn-default btn-block" ng-click="testservice.getBranch()" type="button" name="button">Branches</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4 form-group">
      <label>Tarjeta</label>
      <input class="form-control" type="text" ng-model="testservice.pan" >
    </div>
    <div class="col-md-2 col-xs-2 form-group">
      <label>mes</label>
      <input class="form-control" type="text" ng-model="testservice.mes" >
    </div>
    <div class="col-md-2 col-xs-2 form-group">
      <label>año</label>
      <input class="form-control" type="text" ng-model="testservice.anio" >
    </div>
    <div class="col-md-4 col-xs-2 form-group">
      <label>CVV</label>
      <input class="form-control" type="text" ng-model="testservice.ccv" >
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendPan()">Datos Tarjeta</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responsePan}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responsePan.status}}</pre>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-xs-6 form-group">
      <label>Frente</label>
      <input class="form-control" type="file" base-sixty-four-input accept="image/*" ng-model="testservice.anverso" >
      <img style="margin:10px; width:10%;" src="data:image/png;base64,{{testservice.anverso.base64}}" />
    </div>
    <div class="col-md-6 col-xs-6 form-group">
      <label>Reverso</label>
      <input class="form-control" type="file" base-sixty-four-input accept="image/*" ng-model="testservice.reverso" >
      <img style="margin:10px; width:10%;" src="data:image/png;base64,{{testservice.reverso.base64}}" />
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendDocumento()">Datos documento</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseDocumento}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseDocumento.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendDatosPersona()">Datos Persona</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseDatosPersona}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseDatosPersona.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendAcepto()">Aceptar contrato</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseContrato}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseContrato.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.getAccount()">Obtener cuenta</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseCuenta}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseCuenta.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendPassword()">Enviar contraseña</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responsePassword}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responsePassword.status}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-block" ng-click="testservice.sendEncuesta()">Enviar encuesta</button>
    </div>
    <div class="col-md-9 col-xs-9">
      <pre>{{testservice.responseEncuesta}}</pre>
    </div>
    <div class="col-md-1 col-xs-1">
      <pre>{{testservice.responseEncuesta.status}}</pre>
    </div>
  </div>
  <div class="row">
    <form name="checkpass">

      <div class="form-group" ng-class="{ 'has-error': checkpass.pass.$invalid && !checkpass.pass.$pristine && checkpass.pass.$touched }">
        <label for="pass">Password</label>
        <input type="password" class="form-control" ng-model="password" name="pass" complex-password />
        <span class="help-block" ng-messages="checkpass.pass.$error" ng-if="checpass.pass.$touched">
          <p ng-message="complexity">no cumple con las reglas de arriba</p>
        </span>
      </div>
      <pre>{{checkpass.pass.$valid}}</pre>
      <pre>{{checkpass.pass.$error}}</pre>
    </form>
  </div>
  <br/>
  <div class="row">
    <pre>
      {{testservice.cypherText}}
    </pre>
  </div>
  <div class="row">
    {{testservice.originalText}}
  </div>
  <hr>
</div>

<div class="dropdown pull-right makePaymentDropdownMainDiv" auto-close="outsideClick">
  <button class="btn btn-default dropdown-toggle makePaymentDropdownBtn" type="button" id="individualDrop" data-toggle="dropdown">{{payment}}<span class="caret pull-right"></span></button>
  <span ng-show="submitted"><label class="error">Select an Individual</label></span>
  <ul class="dropdown-menu makePaymentDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
      <input disable-auto-close type="search" ng-model="serchFilter" class="makePaymentDropdownSearchBox" placeholder="Search"></input>
      <li role="presentation" ng-repeat="indi in individuals | filter: serchFilter"><a role="menuitem" ng-click="selectEntity(indi)">{{indi}}</a></li>
  </ul>
</div>
