<div class="container-fluid bg-lighter-grey-color add-padding">
  <b>{{contratoCtrl.contratoSubtitle}}</b>
</div>
<div class="contrato-aceptar">

  <div class="row image-viewer">
    <div class="viewer">
      <div class="contrato">
        <div class="row hidden-xs">
          <div class="col-md-6 col-md-offset-3 text-center ">
            <img class="fit-up" src="images/icons/logoSantanderRed.png" />
          </div>
        </div>
        <!--img ng-repeat="image in images" ng-src="images/data/{{image}}"/-->
        <p class="contrato text-justify fit-up fit-down fit-lateral">
          {{contratoCtrl.texto}}
        </p>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid bg-lighter-grey-color add-padding">
  <div class="row">
    <div class="col-md-12">
      <label class="switch" >
        <input  id="SWITCH_aceptarContrato" type="checkbox" ng-model="aceptado">
        <span class="slider round"></span>
      </label>
      <div class="switch-text">
        {{contratoCtrl.terminos}}
      </div>
    </div>
    <!--<md-switch id="SWITCH_aceptarContrato" class="md-primary col-md-1 col-xs-1" aria-label="Switch No Ink" ng-model="aceptado"></md-switch>
    <span class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1" style="margin:1em; text-align:justify;">{{contratoCtrl.terminos}}</span>-->
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
      <button id="BTN_contratocontinuar" ng-click="contratoCtrl.next('aceptado')" ng-disabled="!aceptado" class="btn btn-primary no-block">Acepto</button>
    </div>
  </div>
</div>
