<!DOCTYPE html>
<!--[if IE 8]>         <html id="ng-app" lang="es" ng-app="isbanWebApp" class="no-js lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html id="ng-app" class="no-js" lang="es" ng-app="isbanWebApp" ng-controller="MainController as mainCtrl"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SuperDigital</title>
    <!--build:css css/styles.min.css -->
    <link rel="bower_components/angular-bootstrap/ui-bootstrap-csp.css" href=""/>
    <link rel="stylesheet" href="css/main.css"/>
    <!--endbuild -->
    <script ng-if="showUtag" src="https://tags.tiqcdn.com/utag/santander/mx-onboarding-particulares-web/prod/utag.sync.js"></script>

    <!-- Facebook Pixel Code -->
      <script ng-if="showfbpixel">
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1816230601998075');
      fbq('track', 'PageView');
      </script>



      <!-- DO NOT MODIFY -->
      <!-- End Facebook Pixel Code -->

      <!-- Twitter universal website tag code -->
      <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','nvysz');
      twq('track','PageView');
      </script>
      <!-- End Twitter universal website tag code -->

      <script type="text/javascript">
          function openCameraAndroid() {
              Android.openCamera();
          }
          function someFunction() {
            var scope = angular.element(document.getElementById('myDocCtrl')).scope();
            var res = Android.getFromCamera();

            scope.$apply(function(){
              if(scope.getImageReady()){
                scope.setBackImage(res);
                res = "";
              } else {
                scope.setFrontImage(res);
                res = "";
              }
            });
          }
      </script>

      <script async defer src="js/icarSDK.js"></script>

  </head>
  <body class="stretched">
    <!--<img ng-if="showfbpixel" height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1816230601998075&ev=PageView&noscript=1"/>-->
    <div id="wrapper" class="clearfix" >
      <div ui-view style="height:100%;">
      </div>
    </div>
    <div loader class="spinner hidden">
      <div class="sk-circle">
        <img src="images/icons/loader_santander.gif" /><br>
        <small class="text-center">Espera por favor</small>
      </div>
    </div>
    <span class="version">v{{version}}{{env}}</span>

    <!--carga de utag -->
    <script ng-if="showUtag" type="text/javascript">
    (function(a,b,c,d){
      a='https://tags.tiqcdn.com/utag/santander/mx-onboarding-particulares-web/prod/utag.js';
      b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
      a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
    </script>
    <script ng-if="showUtag" type="text/javascript">
      var utag_data = {}
    </script>
    <!--funcion de carga asíncrona -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa3ieCmgCdhMRgF89AATqCk0lGHcv3DB4&libraries=places"></script>
    <!--build:js js/main.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/combodate/src/combodate.js"></script>
    <script src="bower_components/sprintf/src/sprintf.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>
    <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
    <script src="bower_components/bootstrap-show-password/bootstrap-show-password.js"></script>
    <script src="bower_components/angular-imageupload-directive/public/javascripts/imageupload.js"></script>
    <script src="bower_components/angular-image-processor/angular-image-processor.js"></script>
    <script src="bower_components/requirejs/require.js" charset="utf-8"></script>
    <script src="bower_components/cryptojslib/rollups/aes.js"></script>
    <script src="bower_components/cryptojslib/rollups/sha256.js"></script>
    <script src="bower_components/angular-cryptography/mdo-angular-cryptography.js" charset="utf-8"></script>
    <script src="bower_components/angular-ui-mask/src/mask.js"></script>



    <script src="js/modernizr-custom.js"></script>
    <script src="js/main.js"></script>
    <script src="js/services/httpSpinnerInterceptor.factory.js"></script>
    <script src="js/services/loader.directive.js"></script>
    <script src="js/services/config.service.js"></script>
    <script src="js/factories/connection.factory.js"></script>
    <script src="js/factories/bearerAuthInterceptor.factory.js"></script>
    <script src="js/services/modalService.service.js"></script>
    <script src="js/services/constantes.js"></script>
    <script src="js/services/alertaService.service.js"></script>
    <script src="js/services/avisoService.service.js"></script>
    <script src="js/services/logger.provider.js"></script>
    <script src="js/factories/saveAndRetrieve.factory.js"></script>
    <script src="js/services/ocrCaptureService.service.js"></script>

    <script src="js/shared/noSpecialChar/noSpecialChar.directive.js"></script>
    <script src="js/shared/emailMatch/emailMatch.directive.js"></script>
    <script src="js/shared/passwordCheck/passwordCheck.directive.js"></script>
    <script src="js/shared/max/max.directive.js"></script>
    <script src="js/shared/spinner/spinner.directive.js"></script>
    <script src="js/shared/headernav/headernav.directive.js"></script>
    <script src="js/shared/testServices/testServices.directive.js"></script>
    <script src="js/shared/justNumbers/justNumbers.directive.js"></script>
    <script src="js/shared/complexPassword/complexPassword.directive.js"></script>
    <script src="js/shared/my-map/myMap.directive.js"></script>
    <!--<script src="js/shared/places/places.directive.js"></script>-->
    <script src="js/shared/backImg/backImg.directive.js"></script>
    <script src="js/shared/maskingInput.directive.js"></script>

    <script src="js/components/banner/banner.directive.js"></script>
    <script src="js/components/banner/banner.controller.js"></script>
    <script src="js/components/beneficios/beneficios.directive.js"></script>
    <script src="js/components/beneficios/beneficios.controller.js"></script>
    <script src="js/components/branchLocator/branch_locator.directive.js" charset="utf-8"></script>
    <script src="js/components/branchLocator/branch_locator.controller.js" charset="utf-8"></script>
    <script src="js/components/branchLocator/places.directive.js" charset="utf-8"></script>
    <script src="js/components/branchLocator/places.controller.js" charset="utf-8"></script>
    <script src="js/components/condiciones/condiciones.directive.js"></script>
    <script src="js/components/condiciones/condiciones.controller.js"></script>
    <script src="js/components/stepsbar/stepsbar.controller.js"></script>
    <script src="js/components/stepsbar/stepsbar.directive.js"></script>
    <script src="js/components/contacto/contacto.directive.js"></script>
    <script src="js/components/contacto/contacto.controller.js"></script>
    <script src="js/components/sms/sms.directive.js"></script>
    <script src="js/components/sms/sms.controller.js"></script>

    <script src="js/components/documento/documento.directive.js"></script>
    <script src="js/components/documento/documento.controller.js"></script>
    <script src="js/components/ocr/ocr.directive.js" charset="utf-8"></script>
    <script src="js/components/ocr/ocr.controller.js" charset="utf-8"></script>

    <script src="js/components/carrusel/carrusel.directive.js" charset="utf-8"></script>
    <script src="js/components/carrusel/carrusel.controller.js" charset="utf-8"></script>

    <script src="js/components/cardinfo/cardinfo.directive.js"></script>
    <script src="js/components/cardinfo/cardinfo.controller.js"></script>
    <script src="js/components/datoscliente/datoscliente.directive.js"></script>
    <script src="js/components/datoscliente/datoscliente.controller.js"></script>
    <script src="js/components/contrato/contrato.directive.js"></script>
    <script src="js/components/contrato/contrato.controller.js"></script>
    <script src="js/components/resumen/resumen.controller.js"></script>
    <script src="js/components/resumen/resumen.directive.js"></script>
    <script src="js/components/tarjetadigital/tarjetadigital.controller.js"></script>
    <script src="js/components/tarjetadigital/tarjetadigital.directive.js"></script>
    <script src="js/components/password/password.directive.js"></script>
    <script src="js/components/password/password.controller.js"></script>
    <script src="js/components/password/rules.directive.js"></script>
    <script src="js/components/encuesta/encuesta.directive.js"></script>
    <script src="js/components/encuesta/encuesta.controller.js"></script>
    <script src="js/components/datosbeneficiario/datosbeneficiario.directive.js"></script>
    <script src="js/components/datosbeneficiario/datosbeneficiario.controller.js"></script>
    <script src="js/components/campuspay/campuspay.directive.js"></script>
    <script src="js/components/campuspay/campuspay.controller.js"></script>
    <script src="js/components/sucursal_light/sucursal_light.directive.js" charset="utf-8"></script>
    <script src="js/components/sucursal_light/sucursal_light.controller.js" charset="utf-8"></script>

    <script src="js/components/nip/nip.directive.js"></script>
    <script src="js/components/buro-credito/buro-credito.directive.js"></script>

    <script src="js/views/landing.directive.js"></script>
    <script src="js/views/benycond.directive.js"></script>
    <script src="js/views/benycond.controller.js"></script>
    <script src="js/views/formcontacto.directive.js"></script>
    <script src="js/views/formcontacto.controller.js"></script>
    <script src="js/views/seleccionasucursal.directive.js"></script>
    <script src="js/views/seleccionasucursal.controller.js"></script>
    <script src="js/views/seleccionaidentificacion.directive.js"></script>
    <script src="js/views/seleccionaidentificacion.controller.js"></script>
    <script src="js/views/seleccionatarjeta.directive.js"></script>
    <script src="js/views/seleccionatarjeta.controller.js"></script>
    <script src="js/views/formcliente.directive.js"></script>
    <script src="js/views/formcliente.controller.js"></script>
    <script src="js/views/cuenta.directive.js"></script>
    <script src="js/views/cuenta.controller.js"></script>
    <script src="js/views/muestratarjeta.controller.js"></script>
    <script src="js/views/muestratarjeta.directive.js"></script>
    <script src="js/views/bancadigital.controller.js"></script>
    <script src="js/views/bancadigital.directive.js"></script>
    <script src="js/views/calificarexperiencia.directive.js"></script>
    <script src="js/views/calificarexperiencia.controller.js"></script>
    <script src="js/views/formcampuspay.directive.js"></script>

    <!--endbuild -->
    <!-- <script>(function(config){(function(xd){xd.enable=true;})(config.xd||(config.xd={}));})(window['adrum-config']||(window['adrum-config']={}));</script> -->
  </body>
</html>
