<section class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="stepbar">
                <div class="image-step-box" ng-repeat="step in stepsCtrl.stepSet">
                    <img ng-src="{{step.selectedImage}}" class="step-item"/>
                    <img ng-src="{{stepsCtrl.separador}}" class="pull-right flecha" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="meter animate" style="margin-top:0px;">
    <span style="{{stepsCtrl.getPercentage()}}"><span></span></span>
</div>
