<div class="" ng-show="beneficiarioCtrl.showBeneficiario" >
  <!--<h3 class="title-page">{{beneficiarioCtrl.beneficiarioTitle3}}</h3>-->
  <form name="beneficiarioForm" >
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.nombreBeneficiario.$invalid && !beneficiarioForm.nombreBeneficiario.$pristine && !beneficiarioForm.nombreBeneficiario.$touched }" >
          <label>{{beneficiarioCtrl.beneficiarioNombreLabel}}</label>
          <input id="TXT_DatosBeneficiario_Nombre" type="text" class="form-control" no-special-char ng-maxlength="40" maxlength="40" max="40" name="nombreBeneficiario" ng-model="beneficiarioCtrl.nombreBeneficiario" ng-change="beneficiarioCtrl.saveNombreBeneficiario()" ng-required="true">
        </div>
        <span class="help-block" ng-messages='beneficiarioForm.nombreBeneficiario.$error' ng-if='beneficiarioForm.nombreBeneficiario.$touched'>
          <p ng-message="required">Debes proporcionar un nombre.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.apellidoPaternoBeneficiario.$invalid && !beneficiarioForm.apellidoPaternoBeneficiario.$pristine && !beneficiarioForm.apellidoPaternoBeneficiario.$touched }" >
          <label>{{beneficiarioCtrl.beneficiarioPaternoLabel}}</label>
          <input id="TXT_DatosBeneficiario_ApPatermo" type="text" class="form-control" no-special-char ng-maxlength="20" maxlength="20" max="20" name="apellidoPaternoBeneficiario" ng-model="beneficiarioCtrl.apellidoPaternoBeneficiario" ng-change="beneficiarioCtrl.saveApPaternoBeneficiario()" ng-required="true">
        </div>
        <span class="help-block" ng-messages='beneficiarioForm.apellidoPaternoBeneficiario.$error' ng-if='beneficiarioForm.apellidoPaternoBeneficiario.$touched'>
          <p ng-message="required">Debes proporcionar un apellido paterno.</p>
        </span>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.apellidoMaternoBeneficiario.$invalid && !beneficiarioForm.apellidoMaternoBeneficiario.$pristine && !beneficiarioForm.apellidoMaternoBeneficiario.$touched }" >
          <label>{{beneficiarioCtrl.beneficiarioMaternoLabel}}</label>
          <input id="TXT_DatosBeneficiario_ApMaterno" type="text" class="form-control" no-special-char ng-maxlength="20" maxlength="20" max="20" name="apellidoMaternoBeneficiario" ng-change="beneficiarioCtrl.saveApMaternoBeneficiario()" ng-model="beneficiarioCtrl.apellidoMaternoBeneficiario">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.fechaNacimientoBeneficiario.$invalid && !beneficiarioForm.fechaNacimientoBeneficiario.$pristine && beneficiarioForm.fechaNacimientoBeneficiario.$touched }">
          <label>{{beneficiarioCtrl.beneficiarioNacimientoLabel}}</label>
          <div class="form-group">
            <input id="DATE_fechanacimientobeneficiario" type="text" data-format="YYYY-MM-DD" data-template="D MMM YYYY" name="fechaNacimientoBeneficiario" ng-model="beneficiarioCtrl.fechaNacimientoBeneficiario" ng-change="beneficiarioCtrl.saveFechaNacimientoBeneficiario()" ng-required="true">
          </div>
          <!--<input id="DATE_DatosPersonales_FechaNaciemiento" class="form-control" type="date" name="fechaNacimiento" ng-change="identificacion.saveFechaNacimiento()" ng-model="identificacion.fechaNacimiento" required>-->
        </div>
        <span class="help-block" ng-messages='beneficiarioForm.fechaNacimientoBeneficiario.$error' ng-if="beneficiarioForm.fechaNacimientoBeneficiario.$dirty">
          <p ng-message="adulto" >No eres mayor de edad.</p>
          <p ng-message="required">Campo obligatorio.</p>
        </span>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.nacionalidad.$invalid && !beneficiarioForm.nacionalidad.$pristine && beneficiarioForm.nacionalidad.$touched }">
          <label>{{beneficiarioCtrl.beneficiarioNacionalidadLabel}}</label>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_NacionalidadBeneficiario_mexicana" name="nacionalidad" type="radio" ng-model="beneficiarioCtrl.nacionalidadBeneficiario" ng-change="beneficiarioCtrl.saveNacionalidadBeneficiario()" value="M" ng-required="true">
                <label for="BTN_NacionalidadBeneficiario_mexicana">
                  México
                </label>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="radio floating-radio">
                <input id="BTN_NacionalidadBeneficiario_extranjera" name="nacionalidad" type="radio" ng-model="beneficiarioCtrl.nacionalidadBeneficiario" ng-change="beneficiarioCtrl.saveNacionalidadBeneficiario()" value="E" ng-required="true">
                <label for="BTN_NacionalidadBeneficiario_extranjera">
                  Otro
                </label>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.entidadNacimientoBeneficiario.$invalid && !beneficiarioForm.entidadNacimientoBeneficiario.$pristine && beneficiarioForm.entidadNacimientoBeneficiario.$touched }">
          <label>Entidad de nacimiento </label>
          <select id="SELECT_entidadNacimientobeneficiario" name="entidadNacimientoBeneficiario" class="form-control" ng-options="estado as estado.descripcion for estado in beneficiarioCtrl.chooseEntidadBeneficiario" ng-model="beneficiarioCtrl.entidadNacimientoBeneficiario" ng-change="beneficiarioCtrl.saveEntidadNacimientoBeneficiario()" ng-required="true" ng-disabled="!beneficiarioCtrl.chooseEntidadBeneficiario.length"></select>
        </div>
        <span class="help-block" ng-messages="beneficiarioForm.entidadNacimientoBeneficiario.$error" ng-if="beneficiarioForm.entidadNacimientoBeneficiario.$touched">
          <p ng-message="required">Selecciona una entidad de nacimiento.</p>
        </span>
      </div>
    </div>

    <div class="">
      <h4 class="title-page">
        {{beneficiarioCtrl.beneficiarioTitle2}}
        <span id="TOOLTIP_domicilioBeneficiario" class="icon">
          <img src="images/icons/icono-alerta.svg" class="icon">
          <md-tooltip md-direction="top">{{beneficiarioCtrl.tooltipDomicilioBeneficiario}}</md-tooltip>
          <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
        </span>
      </h4>
      <p>{{beneficiarioCtrl.beneficiariominititle}}</p>
      <div class="form-group">
        <ul class="selection">
          <li>
            <div class="radio floating-radio">

                <input name="domicilioBeneficiario" id="BTN_DatosBeneficiario_MismoDomicilioSi" type="radio" value="s" ng-click="beneficiarioCtrl.addDomicilioBeneficiario()" ng-model="beneficiarioCtrl.mismoDomicilioBeneficiario" ng-required='true'>
                <label for="BTN_DatosBeneficiario_MismoDomicilioSi">
                Sí
              </label>
            </div>
          </li>
          <li>
            <div class="radio floating-radio">

                <input name="domicilioBeneficiario" id="BTN_DatosBeneficiario_MismoDomicilioNo" type="radio" value="n" ng-click="beneficiarioCtrl.addDomicilioBeneficiario()" ng-model="beneficiarioCtrl.mismoDomicilioBeneficiario" ng-required='true'>
                <label for="BTN_DatosBeneficiario_MismoDomicilioNo">
                No
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div ng-show="beneficiarioCtrl.domiciliodiferente">
      <!-- <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2 class="title-page">{{beneficiarioCtrl.beneficiarioTitle2}}</h2>
          <hr class="red">
        </div>
      </div> -->
      <div class="row">

        <div class="col-md-8 col-xs-12">
          <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.calle.$invalid && !beneficiarioForm.calle.$pristine && beneficiarioForm.calle.$touched }">
            <label>{{beneficiarioCtrl.beneficiarioCalleLabel}}</label>
            <input id="TXT_callebeneficiario" type="text" class="form-control" name="calle" ng-model="beneficiarioCtrl.callebeneficiario" ng-change="beneficiarioCtrl.saveCalleBeneficiario()" maxlength="30" ng-maxlength="30" no-special-char ng-required="identificacion.domiciliodiferente">
          </div>
          <span class="help-block" ng-messages='beneficiarioForm.calle.$error' ng-if='beneficiarioForm.calle.$touched'>
            <p ng-message="required">Debes proporcionar un dato.</p>
          </span>
        </div>
        <div class="col-md-2 col-xs-6">
          <div class="form-group" ng-class="{ 'has-error': beneficiarioForm.exterior.$invalid && !beneficiarioForm.exterior.$pristine && beneficiarioForm.exterior.$touched }">
            <label>{{beneficiarioCtrl.beneficiarioNumeroExteriorLabel}}</label>
            <input id="TXT_exteriorbeneficiario" type="text" class="form-control" name="exterior" ng-model="beneficiarioCtrl.exteriorbeneficiario" ng-change="beneficiarioCtrl.saveExteriorBeneficiario()" ng-maxlength="8" maxlength="8" no-special-char ng-required="beneficiarioCtrl.domiciliodiferente">
          </div>
          <span class="help-block" ng-messages="beneficiarioForm.exterior.$error" ng-if="beneficiarioForm.exterior.$touched">
            <p ng-message="required">Debes proporcionar un número exterior.</p>
          </span>
        </div>
        <div class="col-md-2 col-xs-6">
          <div class="form-group">
            <label>{{beneficiarioCtrl.beneficiarioNumeroInteriorLabel}}</label>
            <input id="TXT_interiorbeneficiario" type="text" class="form-control" name="interior" ng-model="beneficiarioCtrl.interiorbeneficiario" ng-change="beneficiarioCtrl.saveInteriorBeneficiario()" ng-maxlength="8" maxlength="8" no-special-char>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.zipcode.$invalid && !beneficiarioForm.zipcode.$pristine && beneficiarioForm.zipcode.$touched }">
            <label>{{beneficiarioCtrl.beneficiarioCodigoPostalLabel}}</label>
            <input id="TXT_zipcodebeneficiario" just-numbers type="text" maxlength="5" minlength="5" ng-minlength="5" ng-maxlength="5"  class="form-control" name="zipcode" ng-model="beneficiarioCtrl.zipcodebeneficiario" ng-change="beneficiarioCtrl.saveZipCodeBeneficiario()" ng-required="beneficiarioCtrl.domiciliodiferente">
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <p style="margin-top:0.5em;">{{beneficiarioCtrl.beneficiarioRegistroCp}}</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form-group" ng-class="{ 'has-error' : beneficiarioForm.colonia.$invalid && !beneficiarioForm.colonia.$pristine && beneficiarioForm.colonia.$touched }">
            <label>{{beneficiarioCtrl.beneficiarioColoniaLabel}}
              <span id="TOOLTIP_coloniapoblacion_beneficiario" class="icon">
                <img src="images/icons/icono-alerta.svg" class="icon">
                <md-tooltip md-direction="top">{{beneficiarioCtrl.beneficiarioCodigoAyuda}}</md-tooltip>
                <md-icon icon="images/icons/icono-alerta.svg"></md-icon>
              </span>
            </label>
            <select id="SELECT_coloniabeneficiario" type="text" class="form-control" name="colonia" ng-model="beneficiarioCtrl.selectedColoniaBeneficiario" ng-change="beneficiarioCtrl.saveColoniaBeneficiario()" ng-options="asentamiento.nombre for asentamiento in beneficiarioCtrl.cpResponse2 track by asentamiento.asentamiento" ng-required="beneficiarioCtrl.domiciliodiferente">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1">
        <button id="BTN_identificacionformcontinuarconbeneficiario" ng-show="beneficiarioCtrl.showBeneficiario" class="btn btn-primary no-block" ng-click="beneficiarioCtrl.validarClienteConBeneficiario()" ng-disabled="!beneficiarioForm.$valid || !clientForm.$valid">Continuar</button>
      </div>
    </div>
  </form>
</div>
