<div ng-controller="personalDataCtrl as personalData" >
  <headernav ng-hide="encuestaIsVisible"></headernav>
  <div ng-class="{container : !branchLocatorIsVisible}" ng-hide="encuestaIsVisible">
    <stepsbar ng-hide="branchLocatorIsVisible"></stepsbar>
    <contacto ng-show="contactoIsVisible"></contacto>
    <branch-locator ng-show="branchLocatorIsVisible"></branch-locator>
    <identificacion ng-show="identificacionIsVisible"></identificacion>
    <contrato ng-show="contratoIsVisible"></contrato>
    <cuentaactiva ng-show="cuentaactivadaIsVisible"></cuentaactiva>
    <passwordchange ng-show="contraseniaIsVisible"></passwordchange>
    <nip ng-show="nipIsVisible"></nip>
    <buro-credito ng-show="buroIsVisible"></buro-credito>
  </div>
  <div class="container-fluid calificar-container" ng-show="encuestaIsVisible">
    <calificar></calificar>
  </div>
  <spinner ng-show="loader"></spinner>
</div>
