<div id="MODAL_mensaje" class="modal-exito">
  <div class="modal-body text-center" style="border-radius:10px 10px 0 0;">
    <div class="modal-icon">
      <img ng-src="{{modalOptions.modalIcon}}"/>
    </div>
    <h2 id="MODAL_header" class="h4">{{modalOptions.headerText}}</h2>
    <p id="MODAL_texto" class="message" ng-bind-html="modalOptions.bodyText">{{modalOptions.bodyText}}</p>
    <div class="error_code">
      {{modalOptions.errorCode}}
    </div>
  </div>
  <div class="modal-footer alert-footer" ng-if="modalOptions.showBoth">
    <button id="BTN_ok" class="btn btn-default btn-block alertbuttonright pull-right" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    <button id="BTN_cerrar" type="button" class="btn btn-default btn-block alertbuttonleft pull-left" data-ng-click="modalOptions.close()" >{{modalOptions.closeButtonText}}</button>
  </div>
  <div class="modal-footer alert-footer" ng-if="modalOptions.showOk">
    <button id="BTN_ok" class="btn btn-default btn-block full-width" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
  </div>
  <div class="modal-footer alert-footer" ng-if="modalOptions.showClose">
    <button id="BTN_cerrar" type="button" class="btn btn-default btn-block full-width" data-ng-click="modalOptions.close()" >{{modalOptions.closeButtonText}}</button>
  </div>
</div>
