<form class="fit-lateral" name="telefonoForm" novalidate="" ng-submit="contactoCtrl.validarInput()">
  <div class="row">
    <div class="col-md-12">
      <header>
        <span style="font-size:1.2em;">{{contactoCtrl.formTelefonoTitle}}</span>
        <hr class="red-border hidden-xs">
      </header>
      <p style="padding:0; margin-top:1em;">{{contactoCtrl.formTelefonoSubtitle}}</p>
    </div>
    <div class="col-md-12">
      <div class="form-group" ng-class="{ 'has-error' : telefonoForm.telefono.$invalid && !telefonoForm.telefono.$pristine}">
        <label>{{contactoCtrl.formTelefonoLabel}}</label>
        <input id="TXT_ContactoTelefono" class="form-control" type="text" ng-trim="" ng-disabled="contactoCtrl.smsVisible" placeholder="Número de 10 dígitos" just-numbers name="telefono" ng-model="contactoCtrl.telefono" ng-change="contactoCtrl.saveTelefono()" ng-minlength="10" ng-maxlength="10" maxlength="10" minlength="10" required>
      </div>
      <span class="help-block" ng-messages="telefonoForm.telefono.$error" ng-if="telefonoForm.telefono.$touched">
        <p ng-message="minlength">Teléfono debe tener 10 dígitos.</p>
        <p ng-message="maxlength">Teléfono debe tener 10 dígitos.</p>
        <p ng-message="required">Teléfono debe tener 10 dígitos.</p>
      </span>
    </div>
    <div class="col-md-12">
      <div class="form-group" ng-class="{'has-error' : telefonoForm.companySelect.$invalid && !telefonoForm.companySelect.$pristine}">
        <label>{{contactoCtrl.formCompanyLabel}}</label>
        <select name="companySelect" ng-options="item.company for item in contactoCtrl.companies | orderBy: 'company'" ng-model="contactoCtrl.company" ng-change="contactoCtrl.saveCompany()" class="form-control" ng-disabled="contactoCtrl.smsVisible" required></select>
        <span class="help-block" ng-messages="telefonoForm.companySelect.$error" ng-if="telefonoForm.companySelect.$touched">
          <p ng-message="required">Selecciona compañía telefónica</p>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group" ng-class="{ 'has-error' : telefonoForm.email.$invalid && !telefonoForm.email.$pristine }">
        <label>{{contactoCtrl.formEmailLabel}}</label>
        <input id="TXT_ContactoEmail" class="form-control" type="email" name="email" ng-model="contactoCtrl.email" ng-pattern="contactoCtrl.emailRegex" ng-change="contacto.saveEmail()" ng-disabled="contactoCtrl.smsVisible || changePhone" autocomplete="off" ng-required="true">
        <span class="help-block" ng-messages="telefonoForm.email.$error" ng-if="telefonoForm.email.$touched">
          <p ng-message="required" class="has-error">E-mail inválido.</p>
          <p ng-message="email" class="has-error">E-mail inválido.</p>
          <p ng-message="pattern" class="has-error">E-mail inválido.</p>
        </span>
      </div>

      <p class="hint" ng-hide="contactoCtrl.Nomina && (telefonoForm.email.$viewValue == undefined || telefonoForm.email.$viewValue == '')"><span class="red bold">Importante:</span> Al terminar la activación de la cuenta, enviaremos el contrato a este email.</p>
    </div>
    <div class="col-md-12">
      <div class="form-group" ng-class="{ 'has-error' : telefonoForm.confirmarEmail.$invalid && !telefonoForm.confirmarEmail.$pristine && !telefonoForm.confirmarEmail.$touched }">
        <label>{{contactoCtrl.formConfirmacionLabel}}</label>
        <input id="TXT_ContactoConfirmaEmail" match="contactoCtrl.email" class="form-control" type="email" name="confEmail" ng-model="contactoCtrl.confEmail" ng-change="contactoCtrl.saveEmail()" ng-pattern="" ng-disabled="contactoCtrl.smsVisible || changePhone" autocomplete="off">
        <span class="help-block" ng-messages="telefonoForm.email.$error" ng-if="telefonoForm.email.$touched">
          <p ng-message="pattern" class="has-error">E-mail inválido.</p>
          <p ng-show='telefonoForm.confEmail.$error.mismatch && !telefonoForm.email.$invalid'> E-mails no coinciden favor de verificar. </p>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <i class="fa fa-lock"></i>&nbsp;{{contactoCtrl.mensajePrivacidad}}
    </div>
  </div>
  <br>
  <div class="form-group">
    <span class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-7">
        <button id="BTN_ContactoSiguiente" type="submit" class="btn btn-primary btn-block" ng-disabled='telefonoForm.$invalid || contactoCtrl.smsVisible' ng-if="!validationCodeIsVisible" style="margin-bottom:0px;">Continuar</button>
      </div>
    </span>
  </div>
</form>



<!-- <section class="contacto-telefono" ng-show="contactoTelefonoIsVisible">

  <h2 class="title-page">{{formTitle2}}</h2>
  <hr class="red">
  <p>{{formSubTitle}}</p>

  <form name="telefonoForm" novalidate="" ng-submit="contacto.validarInput(telefonoForm)">
    <div class="overblock"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : telefonoForm.telefono.$invalid && !telefonoForm.telefono.$pristine}">
          <label>{{formTelefonoLabel}}</label>
          <input id="TXT_ContactoTelefono" class="form-control" type="text" ng-trim="" placeholder="Número de 10 dígitos" justNumbers name="telefono" ng-model="contacto.telefono" ng-change="" ng-blur="contacto.saveTelefono()" ng-minlength="10" ng-maxlength="10" maxlength="10" minlength="10" ng-disabled="validationCodeIsVisible" required>
        </div>
        <span class="help-block" ng-messages="telefonoForm.telefono.$error" ng-if="telefonoForm.telefono.$touched">
          <p ng-message="minlength">Teléfono debe tener 10 dígitos.</p>
          <p ng-message="maxlength">Teléfono debe tener 10 dígitos.</p>
          <p ng-message="required">Teléfono debe tener 10 dígitos.</p>
        </span>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error' : telefonoForm.companySelect.$invalid && !telefonoForm.companySelect.$pristine}">
          <label>{{formCompanyLabel}}</label>
          <select name="companySelect" ng-options="item.company for item in formCompanies" ng-model="contacto.company" class="form-control" ng-change="contacto.saveCompany()" ng-disabled="validationCodeIsVisible" required></select>
          <span class="help-block" ng-messages="telefonoForm.companySelect.$error" ng-if="telefonoForm.companySelect.$touched">
            <p ng-message="required">Selecciona compañía telefónica</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : telefonoForm.email.$invalid && !telefonoForm.email.$pristine }">
          <label>{{formEmailLabel}}</label>
          <input id="TXT_ContactoEmail" class="form-control" type="email" name="email" ng-model="contacto.email" ng-pattern="emailRegex" ng-change="contacto.saveEmail()" autocomplete="off" ng-disabled="validationCodeIsVisible" ng-required="esUniversidades || esMercadoAbierto">
          <span class="help-block" ng-messages="telefonoForm.email.$error" ng-if="telefonoForm.email.$touched">
            <p ng-message="required" class="has-error">Correo electrónico inválido.</p>
            <p ng-message="email" class="has-error">Correo electrónico inválido.</p>
            <p ng-message="pattern" class="has-error">Correo electrónico inválido.</p>
          </span>
          <br>
          <span ng-hide="telefonoForm.email.$viewValue == undefined || telefonoForm.email.$viewValue == ''">
            <p>{{importante}}</p>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : telefonoForm.confirmarEmail.$invalid && !telefonoForm.confirmarEmail.$pristine && !telefonoForm.confirmarEmail.$touched && !telefonoForm.email.$viewValue == undefined && !telefonoForm.email.$viewValue == '' }">
          <label>{{formConfirmacionLabel}}</label>
          <input id="TXT_ContactoConfirmaEmail" match="contacto.email" class="form-control" type="email" name="confEmail" ng-model="contacto.confEmail" ng-pattern="" ng-disabled="validationCodeIsVisible" autocomplete="off">
          <span class="help-block" ng-messages="telefonoForm.email.$error" ng-if="telefonoForm.email.$touched">
            <p ng-message="pattern" class="has-error">E-mail inválido.</p>
            <p ng-show='telefonoForm.confEmail.$error.mismatch && !telefonoForm.email.$invalid'> Los correos electrónicos no coinciden favor de verificar. </p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-lock"></i>&nbsp;{{mensaje}}
      </div>
    </div>
    <div class="form-group">
      <span class="lock-icon col-md-3 col-md-offset-9 col-xs-8 col-xs-offset-2" >
        <button id="BTN_ContactoSiguiente" type="submit" class="btn btn-primary no-block" ng-click="saveData(telefonoForm)" ng-disabled='telefonoForm.$invalid || telefonoForm.email.$viewModel != undefined && telefonoForm.confEmail.$viewModel == undefined' ng-if="!validationCodeIsVisible" style="margin-bottom:60px;">Continuar</button>
      </span>
    </div>
  </form>
</section>

<section class="reenviar-codigo" ng-show="contactoOtroTelefonoIsVisible">
  <h2 class="title-page">{{reenviarCodigoTitle}}</h2>
  <form name="otroTelefonoForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error' : otroTelefonoForm.telefono.$invalid && !otroTelefonoForm.telefono.$pristine}">
          <label>{{formTelefonoLabel}}</label>

          <input id="TXT_ContactoTelefonoOtro" class="form-control" type="text" ng-trim="" placeholder="Número de 10 dígitos" just-numbers name="telefono" ng-model="contacto.newtelefono" ng-change="" ng-blur="contacto.saveNewTelefono()" ng-minlength="10" ng-maxlength="10" maxlength="10" minlength="10" required>
        </div>
        <span class="help-block" ng-messages="otroTelefonoForm.telefono.$error" ng-if="otroTelefonoForm.telefono.$touched">
          <p ng-message="pattern">No puede contener letras. </p>
          <p ng-message="minlength">Teléfono debe tener 10 dígitos.</p>
          <p ng-message="maxlength">Teléfono debe tener 10 dígitos.</p>
          <p ng-message="required">Teléfono debe tener 10 dígitos.</p>
        </span>
      </div>
      <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error' : otroTelefonoForm.newCompany.$invalid && !otroTelefonoForm.newCompany.$pristine}">
          <label>{{formCompanyLabel}}</label>
          <select id="selectCompany" name="newCompany" ng-options="item.company for item in formCompanies" ng-model="contacto.newcompany" class="form-control" ng-change="contacto.saveNewCompany()" required></select>
          <span class="help-block" ng-messages="otroTelefonoForm.newCompany.$error" ng-if="otroTelefonoForm.companySelect.$touched">
            <p ng-message="required">Selecciona compañía telefónica</p>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <span class="lock-icon col-md-6 col-md-offset-6 col-xs-8 col-xs-offset-2">
        <button id="BTN_ContactoSiguiente" class="btn btn-primary no-block" ng-click="saveData(otroTelefonoForm)" ng-disabled='otroTelefonoForm.$invalid'>Continuar</button>
      </span>
    </div>
  </form>
</section>


<section id="SEC_ValidacionCodigo" class="code-validation" ng-show="validationCodeIsVisible && !loader">
  <hr class="red">
  <p>{{formVerificationCodeSubtitle}} {{contacto.telefono}}</p>
  <form name="smsForm" novalidate="">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group" ng-class="{ 'has-error' : smsForm.token.$invalid && !smsForm.token.$pristine && smsForm.token.$touched }" >
          <label>{{formVerificationCodeLabel}}</label><span id="TXT_token" ng-if="env != 'pro'">{{token}}</span>
          <input id="TXT_CodigoConfirmacion" class="form-control" type="text" ng-trim="" placeholder="Número de 6 dígitos SMS" just-numbers name="token" no-special-char ng-model="contacto.token" ng-change="contacto.checkToken()" ng-minlength="6" ng-maxlength="6" min="6" max="6" maxlength="6" required/>
          <span class="help-block" ng-messages="smsForm.token.$error" ng-if='smsForm.token.$touched'>
            <p ng-message="required">El código SMS debe tener 6 dígitos.</p>
            <p ng-message="minlength">El código SMS debe tener 6 dígitos.</p>
            <p ng-message="maxlength">El código SMS debe tener 6 dígitos.</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>{{smsHint}}</small>
        <ul class="smsHints">
          <li><a id="LBL_ReenviarCodigoConfirmacion" href ng-click="saveData(telefonoForm)">{{formResendLink}}</a></li>
          <li><a id="BTN_ReenviarMismoTelefono" href ng-click="telefonoDiferente()">{{formSendOtherToken}}</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-9 col-xs-8 col-xs-offset-2">
        <button id="BTN_CodigoConfirmacionSiguiente" class="btn btn-primary no-block" ng-click="saveData(smsForm)" ng-disabled='smsForm.$invalid'> Continuar </button>
      </div>
    </div>
  </form>
  <br>
</section>

<cardinfo ng-show="cardInformationIsVisible"></cardinfo> -->
