<section class="calificar" style="background-image: url(images/icons/startBackground.png);" >
  <div class="stars">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="calificar-head col-md-6 col-md-offset-3">
          <img src="images/icons/logoSantander.svg" />
        </div>
      </div>

      <div class="row" style="margin-top:30px;">
        <div class="calificar-message col-md-4 col-md-offset-4">
          <p class="focal-msg" style="font-size:1.2em;">
            {{calificarCtrl.focalMessage}}
          </p>
        </div>
      </div>


      <form name="estrellas">

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
              <div ng-class="{ 'borrar': calificar.percent < 101} ">
                <p class="calificar-question" style="font-size:1em;"> ¿Cómo fue tu experiencia al abrir tu cuenta? </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
              <div class="calificar-question qualification" ng-class="{ 'muymala': calificarCtrl.percent<=20 , 'mala': calificarCtrl.percent<=40 && calificarCtrl.percent>20, 'regular': calificarCtrl.percent<=60 && calificarCtrl.percent>40, 'bueno': calificarCtrl.percent<=80 && calificarCtrl.percent>60, 'excelente': calificarCtrl.percent<=100 && calificarCtrl.percent>80}"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <span id="estrellitas" style="font-size:2em;" uib-rating ng-model="calificarCtrl.rating" ng-change="calificarCtrl.saveRate()" max="calificarCtrl.max" read-only="calificarCtrl.isReadonly" on-hover="calificarCtrl.hoveringOver(value)" on-leave="calificarCtrl.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
              <span id="valor_estrellitas" style="display:none;">{{calificarCtrl.rating}}</span>
            </div>
          </div>

          <div class="row" style="margin-top:40px;">
            <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
              <div class="comment" ng-class="{'agregar':calificarCtrl.percent<70}">
                <input type="text" class="form-control" id="TXT_comments" maxlength="50" ng-model="calificarCtrl.comentario" ng-change="calificarCtrl.saveComments()" placeholder="Danos tus comentarios">
              </div>
            </div>
          </div>


          <div class="row" style="margin-top:60px;">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
              <button id="BTN_continuarcomentarios" class="btn btn-primary btn-block" ng-click="calificarCtrl.enviarComentarios()" >Continuar</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
