<div id="MODAL_aviso" class="modal-exito">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-1 col-xs-2">
          <img class="aviso-icon pull-left" ng-src="images/icons/iconoSantanderRojo.png" style="width:100%;" />
        </div>
        <div class="col-md-6 col-xs-8">
          <h4 class="pull-left">{{avisoOptions.headerText}}</h4>
        </div>
        <div class="col-md-5 col-xs-2 pull-right">
          <button type="button" class="close" ng-click="avisoOptions.close()">&times;</button>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <p class="col-md-12">{{avisoOptions.bodyText}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <button id="BTN_aceptas_y_continuar" type="button" class="btn btn-primary btn-block" data-ng-click="avisoOptions.ok()" style="margin:1em 0;">{{avisoOptions.actionButtonText}}</button>
        </div>
      </div>
    </div>
</div>
