<div class="carrusel-container">
  <div class="back-button" ng-click="carruselCtrl.backButton()">
    <img src="img/icons/btn_back.svg" />
  </div>
  <div class="items">
    <div class="item_1 mySlides">
      <h3><img src="img/icons/ico_tarjeta.svg"><br>Cuenta asociada a una tarjeta de débito internacional MasterCard.</h3>
      <img class="" src="img/highlight_images/slide1.png">
    </div>
    <div class="item_2 mySlides">
      <h3><img src="img/icons/ico_efectivo.svg"><br>Retiro en efectivo en más de 15,500 cajeros en toda la repúbclica.</h3>
      <img class="" src="img/highlight_images/slide4.png">
    </div>

    <div class="item_3 mySlides">
      <h3><img src="img/icons/ico_descuenta.svg"><br>Promociones y descuentos registrándote en Santander Twist.</h3>
      <img class="" src="img/highlight_images/slide3.png">
    </div>
    <div class="item_4 mySlides">
      <h3><img src="img/icons/ico_domiciliacion.svg"><br>No salgas de casa, domicilia tus pagos y servicios sin costo alguno.</h3>
      <img class="" src="img/highlight_images/slide2.png">
    </div>

  </div>
  <div class="badges">
    <span class="badge badge-border badge-transparent w3-hover-white" ng-click="carruselCtrl.currentDiv(1)"></span>
    <span class="badge badge-border badge-transparent w3-hover-white" ng-click="carruselCtrl.currentDiv(2)"></span>
    <span class="badge badge-border badge-transparent w3-hover-white" ng-click="carruselCtrl.currentDiv(3)"></span>
    <span class="badge badge-border badge-transparent w3-hover-white" ng-click="carruselCtrl.currentDiv(4)"></span>
  </div>
  <div class="controlls">
    <div class="omitir-card" ng-click="carruselCtrl.clearDivs()">SALTAR</div>
    <div class="next-card" ng-click="carruselCtrl.plusDivs(1)">{{carruselCtrl.buttonTxt}}</div>
  </div>
</div>
