<div id="place-autocomplete">
  <md-autocomplete md-no-cache="false" md-selected-item="location" md-selected-item-change="getLatLng(item)" ng-model-options="{debounce: 600}" md-search-text="searchText" md-search-text-change="search(searchText)" md-items="item in search(searchText)" md-item-text="item.description" md-min-length="2" mg-max-length="50">
    <md-item-template>
      <span md-highlight-text="searchText">{{item.description}}</span>
    </md-item-template>
    <md-not-found>
      No se encontraron sucursales en esta ubicación, favor de buscar por dirección de la sucursal que desees.
    </md-not-found>
  </md-autocomplete>
</div>
