<div id="bloque_condiciones" class="condiciones row">
  <div class="col-md-12">
    <header>
      <h4>
        {{condicionesCtrl.condicionesTitle}}
      </h4>
    </header>
    <section>
      <p>{{condicionesCtrl.condiciones}}</p>
      <ul>
        <li ng-repeat="condicion in condicionesCtrl.condicionesList">
          <span>{{condicion}}</span>
        </li>
      </ul>
    </section>
    <hr>
    <header>
      <h4>
        {{condicionesCtrl.otrasCondiciones}}
      </h4>
    </header>
    <section>
      <ul>
        <li ng-repeat="otraCondicion in condicionesCtrl.otraList">
          <span>{{otraCondicion}}</span>
        </li>
      </ul>
    </section>
    <hr>
    <div class="exceptions" ng-repeat="exception in condicionesCtrl.exceptions">
        <img ng-if="exception.img" ng-src="{{exception.img}}" alt="{{exception.desc}}" style="width:57px; height:35px; margin-top:10px; margin-right:10px; margin-bottom:0;">
        <p style="padding-top:5px; text-align:justify;">{{exception.desc}}<p>
    </div>
  </div>

  <div class="col-md-12">
    <label class="switch">
      <input type="checkbox" ng-model="aceptado">
      <span class="slider round"></span>
    </label>
    <div class="switch-text">
      Aceptar el <a href="" ng-click="condicionesCtrl.showAvisoPrivacidad()">aviso de privacidad</a>
    </div>
  </div>

  <!-- <div class="col-md-12">
    <md-switch class="md-primary" aria-label="Switch No Ink" ng-model="aceptado">
      Aceptar el <a href="" ng-click="condicionesCtrl.showAvisoPrivacidad()">aviso de privacidad</a>
    </md-switch>
  </div> -->

  <div class="col-md-6 col-md-offset-6 col-xs-10 col-xs-offset-1">
    <button id="BTN_avisoprivacidadcontinuar" ng-disabled="!aceptado" ng-click="condicionesCtrl.termsAcceptance()" class="btn btn-primary no-block">Contratar</button>
  </div>
</div>
