<div class="container">
  <header>
    <h2 class="title-page">Regístra tu identificación</h2>
    <p>Por favor indícanos con cuál de estos documentos te registrarás.</p>
  </header>
  <section class="seleccion-documento">
      <div class="floating-radio">
        <input type="radio" id="ine" name="tipoId" ng-model="tipoDocumento" value="ine">
        <label for="ine">INE / IFE</label>
      </div>
      <div class="floating-radio">
        <input type="radio" id="pasaporte" name="tipoId" ng-model="tipoDocumento" value="pasaporte">
        <label for="pasaporte">Pasaporte</label>
      </div>
  </section>
  <section class="ine" ng-if="tipoDocumento == 'ine'">
    <p>Toma las imágenes del frente y la vuelta de tu credencial de elector.</p>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 col-xs-6 document-block">
        <div class="image-document" ng-click="takeScreenFront()">
          <img ng-src="{{documento.ine.anverso64}}">
        </div>
        <div ng-click="takeScreenFront()">
          <img src="img/icons/ico_credencial_frente.svg" class="document-icon" alt="frente"> <span class="document-text">FRENTE</span>

        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 document-block">
        <div class="image-document" ng-click="takeScreenBack()">
          <img ng-src="{{documento.ine.reverso64}}" >
        </div>
        <div ng-click="takeScreenBack()">
          <img src="img/icons/ico_credencial_vuelta.svg" class="document-icon" alt="frente"> <span class="document-text">VUELTA</span>
        </div>
      </div>
    </div>
  </section>
  <section class="pasaporte" ng-if="tipoDocumento == 'pasaporte'">
    <p>Toma la imagen de la hoja de datos de tu pasaporte.</p>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 document-block">
        <div class="image-document" ng-click="takeScreenData()">
          <img ng-src="{{documento.pasaporte.datos64}}" >
        </div>
        <div ng-click="takeScreenData()">
          <img src="img/icons/passport.svg" class="document-icon" alt="passport"> <span class="document-text">HOJA DE DATOS</span>
        </div>
      </div>
    </div>
  </section>
  <section class="modal-ocr" ng-show="showOcr">
    <div class="demo-title">
			<table align="center">
				<tr>
					<td style="text-align: left; font-size: 45px;"><strong><span style="color: #000000;"></span></strong></td>
					<td style="text-align: right;"><!--<img src="./img/icarLogo.png" alt="icar_logo"  height="30" />--></td>
				</tr>
				<tr>
					<td id="fps_message" style="font-size: 15px; text-align: left;">&nbsp;</td>
					<td id="info_message" style="font-size: 10px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
		</div>

		<div class="ocr-capture">
      <video id="videoInput" width="100%" autoplay="true"></video>
	  </div>


		<div>
			<!--<input id="Start" type="button" value="Start" onclick="IcarSDK.documentCapture.start();"/>
			<input id="capture" type="button" value="Capture" onclick="IcarSDK.documentCapture.manualTrigger();" />
			<input id="Stop" type="button" value="Stop" onclick="IcarSDK.documentCapture.stop();"/>-->
			<!--<input id="ChangeCamera" type="button" value="Change Camera"  style="visibility: hidden" onclick="askForChangeCameraFunction();"  />-->
			<br>

		</div>
  </section>
  <section class="help-modal" ng-if="showInstructions">
    <div class="rotate-message" ng-if="mobile && portrait">
      <span class="instructions-close" ng-click="closeHelp()"><img src="img/icons/btn_cerrar.svg"> CERRAR </span>
      <img class="instructions-image" src="img/icons/img_ayuda.svg">
    </div>
    <div class="instructions-message" ng-if="landscape">
      <span class="instructions-close" ng-click="closeHelp()"><img src="img/icons/btn_cerrar.svg"> CERRAR </span>
      <img class="instructions-image" src="img/icons/img_ayuda.svg">
    </div>

  </section>
  <section class="modal-captured-image" ng-show="imageRetrivedSuccessfully">
    <div class="modal-help">
      <img src="img/icons/btn_ayuda.svg" ng-click="help()">
    </div>
    <div class="captured-image">
      <canvas id="resultImage"></canvas>
      <img src="data:image/jpeg;base64,{{image}}" >
    </div>
    <div class="modal-buttons">
      <button class="btns selection left" name="button" ng-click="volverACapturar()">VOLVER A CAPTURAR</button>
      <button class="btns selection right" name="button" ng-click="continuarDoc()">ACEPTAR</button>
    </div>
  </section>
  <footer class="continue" >
    <button ng-if="showInstructions" class="btns default" ng-click="startCapture();">INICIAR CAPTURA</button>
    <button ng-hide="showOcr" class="btns default" ng-click="validarOCR()">CONTINUAR</button>
  </footer>
</div>
