
  <form name="smsForm" class="fit-lateral" novalidate="">
    <div class="row">
      <div class="col-md-12">
        <header>
          <span style="font-size:1.2em;">{{smsCtrl.codigoTitle}}</span>
          <hr class="red-border hidden-xs">
        </header>
        <p style="padding:0; margin-top:1em;">{{smsCtrl.mensajeEnvio}} {{smsCtrl.numero}}</p>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group" ng-class="{ 'has-error' : smsForm.token.$invalid && !smsForm.token.$pristine && smsForm.token.$touched }" >
          <label>{{smsCtrl.formVerificationCodeLabel}}</label> <span id="TXT_token" ng-if="env != 'pro'">{{smsCtrl.pretoken}}</span>
          <input id="TXT_CodigoConfirmacion" class="form-control" type="text" ng-trim="" placeholder="Número de 6 dígitos SMS" just-numbers name="token" no-special-char ng-model="smsCtrl.token" ng-minlength="6" ng-maxlength="6" min="6" max="6" maxlength="6" required/>
          <span class="help-block" ng-messages="smsForm.token.$error" ng-if='smsForm.token.$touched'>
            <p ng-message="required">El código SMS debe tener 6 dígitos.</p>
            <p ng-message="minlength">El código SMS debe tener 6 dígitos.</p>
            <p ng-message="maxlength">El código SMS debe tener 6 dígitos.</p>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>{{smsCtrl.smsHint}}</small>
        <ul class="smsHints">
          <li class="red" style="cursor: pointer; cursor: hand;"><a class="red" id="BTN_ReenviarCodigoConfirmacion" href ng-click="smsCtrl.resendToken()">{{smsCtrl.formResendLink}}</a></li>
          <li class="red" style="cursor: pointer; cursor: hand;"><a class="red" id="BTN_ReenviarMismoTelefono" href ng-click="smsCtrl.changePhone()" ng-hide="smsCtrl.esSr">{{smsCtrl.formSendOtherToken}}</a></li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8 col-xs-8 col-xs-offset-2">
        <button id="BTN_CodigoConfirmacionSiguiente" class="btn btn-primary btn-block" ng-disabled='smsForm.$invalid' ng-click="smsCtrl.validarInput()"> Continuar </button>
      </div>
    </div>
  </form>
