<div class="row confirmation">
  <header class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <h2 class="success ng-binding">
          <img src="images/icons/paloma.png">
          {{resumenCtrl.resumenTitle}}
        </h2>
        <div class="subtitle ng-binding">
          <div class="row">
            <div class="col-md-12 col-xs-10 col-xs-offset-1">
              {{resumenCtrl.resumenSubtitle}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</div>

<div class="row toolButtons" ng-if="activada.mercado == 2">
    <div class="col-sm-6" >
      <div class="panel" ng-click="activada.generarCsv()">
        <div class="panel-head text-center">
          <h4 style="color:red;"><img src="images/icons/csvicon.png" style="width:24px;"> Archivo CSV</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-show="false">
      <div class="panel" ng-click="activada.screenshot()">
        <div class="panel-head text-center">
          <h4>Descarga imagen</h4>
        </div>
      </div>
    </div>
</div>

  <div id="VIEW_dataaccount" class="row items">

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body row" style="padding:0;">
          <span class="item-image col-md-2 col-xs-2">
            <img class="small-img" src="images/icons/mono.png">
          </span>
          <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
            <span class="item-title ng-binding">{{resumenCtrl.resumenNombre}}</span>
            <br/>
            <span class="user-number" style="font-weight:bold;">{{resumenCtrl.datosProspecto.nombrePersona}}</span>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body row" style="padding:0;">
            <span class="item-image col-md-2 col-xs-2">
              <img class="small-img" src="images/icons/mono.png">
            </span>
            <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
              <span class="item-title ng-binding">{{resumenCtrl.resumenCodigo}}</span>
              <br/>
              <span class="user-number" style="font-weight:bold;">{{resumenCtrl.datosProspecto.codigoPersona}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6" ng-if="resumenCtrl.showCard">
        <div class="panel panel-default">
          <div class="panel-body row" style="padding:0;">
            <span class="item-image col-md-2 col-xs-2">
              <img class="small-img" src="images/icons/tarjeta.png">
            </span>
            <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
              <span class="">{{resumenCtrl.resumenTarjeta}}</span>
              <br/>
              <span class="card-number" style="font-weight:bold;">{{resumenCtrl.card}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body row" style="padding:0;">
            <span class="item-image col-md-2 col-xs-2">
              <img class="small-img" src="images/icons/cartera.png">
            </span>
            <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
              <span>{{resumenCtrl.resumenCuenta}}</span>
              <br/>
              <span class="cuenta-number" style="font-weight:bold;">{{resumenCtrl.cuenta}}</span>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body row" style="padding:0;">
            <span class="item-image col-md-2 col-xs-2">
              <img class="small-img" src="images/icons/cartera.png">
            </span>
            <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
              <span>{{resumenCtrl.resumenClabe}}</span>
              <br/>
              <span class="cuenta-number" style="font-weight:bold;">{{resumenCtrl.clabe}}</span>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="resumenCtrl.showSucursal" class="col-md-4 col-sm-6">
        <div class="panel panel-default" style="overflow:hidden;">
          <div class="panel-body row" style="padding:0;">
            <span class="item-image col-md-2 col-xs-2">
              <img class="small-img" src="images/icons/iconSucursal.png" style="margin-left:-20px;">
            </span>
            <div class="col-md-10 col-xs-10 text-center item-title" style="margin-top:10px;">
              <span>{{resumenCtrl.resumenSucursal}}</span>
              <br/>
              <span class="cuenta-number" style="font-weight:bold;">{{resumenCtrl.sucursal}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-1" style="margin-bottom:60px;">
    <button id="BTN_datosenviadossiguiente" ng-click="resumenCtrl.next('datosrevisados')" class="btn btn-primary no-block">Continuar</button>
  </div>
</div>
