<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand">
          <header>Activación de cuenta</header>
            <div class="pull-right">
              <div class="lock-message vertical-center">
                <i class="fa fa-lock"></i>&nbsp;{{mensaje}}
              </div>
            </div>
        </div>
    </div>
</nav>
